- if @error
  $('.popup .error-msg').html('#{@msg}');
- else
  - contacts_users = capture do
    %h2 hey, we found some:
    .connections_list
      - @users.each do |user|
        = render 'user_connections/item', :user => user, :connection_item => nil, :is_user_fan => false, :hide_link => true
  $('.live .user-contact-list').toggle().html('#{escape_javascript(contacts_users)}');
  closeFacebox(1);