$('.primary .left').html('');
- followers = capture do
  %b Followers for Artist '#{@band.name}'
  %hr
  .artist_follower_list
    - @followers.each do |user|
      = render '/user_connections/item', :user =>user, :connection_item =>@band, :following =>true
    =# paginate @followers, :remote => true
$('.primary .left').html('#{escape_javascript(followers)}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.right .selection-box').removeClass('active').removeClass('button-fill-fan button-fill-artist');
$('#fanbox').addClass('active').addClass('button-fill-artist');