= render :partial=>"/artist_public/live"
.primary-container
  .primary
    .left
      %b Followers for Artist '#{@band.name}'
      %hr
      - @followers.each do |user|
        = render '/user_connections/item', :user =>user
      =# paginate @followers, :remote => true
    .right
      = render '/artist_public/right', :current =>'fan'