$('.primary .left').html('');
- following = capture do
  %b Following Artists by #{@user.fname}
  %hr/
  .connections_list
    - @following_artists.each do |band|
      = render '/user_connections/item', :user =>band, :connection_item =>@user, :following =>false
    =# paginate @following_artists, :remote => true
$('.primary .left').html('#{escape_javascript(following)}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.right .selection-box').removeClass('active').removeClass('button-fill-fan');
$('#following-artist').addClass('active').addClass('button-fill-fan');