= render :partial=>"/fan_public/live"
.primary-container
  .primary
    .left
      - @following_artists.each do |band|
        = render '/user_connections/item', :user =>band
      =# paginate @following_artists, :remote => true
    .right
      = render "/fan_public/right", :current =>'following_artist'