= render :partial=>"/fan_public/live"
.primary-container
  .primary
    .left
      .connections_list
        - @followers.each do |user|
          = render '/user_connections/item', :user =>user, :connection_item =>@user, :following =>true
        =# paginate @followers, :remote => true
    .right
      = render '/fan_public/right', :current =>'follower_user'
