$('.primary .left').html('');
- following_fans = capture do
  %b Artists Following by '#{@user.fname}'
  %hr
  - @following_fans.each do |user|
    = render '/user_connections/item', :user =>user, :band =>nil
  = paginate @following_fans, :remote => true
$('.primary .left').html('#{escape_javascript(following_fans)}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.right .selection-box').removeClass('active').removeClass('button-fill-fan');
$('#following-fan').addClass('active').addClass('button-fill-fan');