= render :partial=>"/fan_public/live"
.primary-container
  .primary
    .left
      .connections_list
        - @following_fans.each do |user|
          = render '/user_connections/item', :user =>user, :connection_item =>@user, :following =>false
        = paginate @following_fans, :remote => true
    .right
      = render "/fan_public/right", :current =>'following_fan'