= render :partial=>"/fan_public/live"
.primary-container
  .primary
    .left
      - @following_fans.each do |user|
        = render '/user_connections/item', :user =>user, :band =>nil
      = paginate @following_fans, :remote => true
    .right
      = render "/fan_public/right", :current =>'following_fan'