$('#facebox .content').html('Unfollowed Successfully');
setTimeout('$(document).trigger(\"close.facebox\")',1000);
- follow_content = capture do
  = link_to 'follow', follow_user_path(@user_to_be_unfollowed), :remote => true, :class => 'ajaxopen'
$('.actions #follow_link').html('#{escape_javascript follow_content}');
//var selector = "#following_#{@user_to_be_unfollowed.id}";
//if ($(selector).length){
//$(selector).remove();
//} else {
//$('#follow-unfollow .selection-box').html('#{escape_javascript follow_content}');
//}