=form_tag  messages_path,:id => 'send_msg_form',:class=>"ajaxopen", :method=>:post,  :remote => :true do |f|
  .header
    type in your message
  .mini-content
    = hidden_field_tag :to,@to
    = text_area_tag :body,'',{:maxlength => 400}
    %input{:name => 'send', :id=>'send_message_btn', :type => 'submit', :value => 'send' , :class => "generic-button"}