- band ||=nil
.messages-wrapper
  = render "messages/message", :messages => messages, :band =>band
.clear
- unless @load_more_path.nil?
  .read-more
    = link_to "Read more", @load_more_path , :remote => true, :class=>"ajaxload" 