<% messages = capture do %>
  <div class='messages-wrapper'>
    <%= render "messages/message", :messages => @messages %>
  </div>
  <div class='clear'></div>
  <% unless @load_more_path.nil? %>
    <div class='readmore'>
      <%=  link_to "Read more", @load_more_path , :remote => true, :class=>"ajaxload" %>
    </div>
  <% end %>
<% end %>
$('.midcontent > .left > .leftcontainer').html('<%= escape_javascript messages -%>');
setTimeout('$(document).trigger(\"close.facebox\")',10);  