!= "jQuery.facebox('#{escape_javascript(render 'form')} ' );"
!= "$('.ajaxopen').bind('ajax:before', function() {jQuery.facebox($('#globalloading').html());$(':submit').attr('disabled','disabled');});" 
   
