
- @messages.each do |message|
  - msg_sender = message.sent_messageable_type == 'User' ? message.sent_messageable.fname : message.sent_messageable.mention_name
$('#msg_item_#{@message.id}).append('#{@message.body}<br /> by <strong>{@message.sent_messageable.fname}</strong> <small>about an #{ time_ago_in_words(@message.created_at)} ago</small><br/> <hr />');
setTimeout('$(document).trigger(\"close.facebox\")',1000);