- last_message  = @conversation_receipts.shift
- conversation_messages_thread = capture do
  = render 'message_item', :message => last_message.message, :last_message =>true, :conv_id =>@conversation.id
  .conversation-thread
    .conversation-thread-top-border
    .conversation-thread-container
      - @conversation_receipts.each do |message_receipt|
        = render 'message_item', :message => message_receipt.message
    .conversation-thread-bottom-border
$("div#conversation_#{@conversation.id} .message-section").html('#{escape_javascript(conversation_messages_thread)}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
