#footer
  %div
    %a{:href => "#"}
      = image_tag 'base-footer-link-about.png'
    %a{:href => "#"}
      = image_tag 'base-footer-link-contact.png'
    %a{:href => "#"}
      = image_tag 'base-footer-link-help.png'
    %a{:href => "#"}
      = image_tag 'base-footer-link-terms.png'