- if @actor
  .site-logo
    %a{:href => root_path, :class =>'ajaxopen backable', :id =>'homelogo'}
      = image_tag 'base-logo.png'

  :javascript
    $('#homelogo').live('click',function(){ $.ajax("#{root_path}");});
- else
  .site-logo
    %a{:href => root_path, :target =>'_blank', :id =>'homelogo'}
      = image_tag 'base-logo.png'