- selected ||=false
- link_class  = selected ? 'active selection-box iconactive ajaxload button-fill-fan backable' : 'selection-box iconactive ajaxload backable'
%div{:style=>"position: relative;"}
  - if follower_count > 0
    = link_to fan_followers_path(:id =>user.id), {:id=>'followers', :class=>link_class, :remote => true} do
      %span.count{:id=>'followercount'}
        = follower_count
      - if follower_count > 1 || follower_count == 0 #doesn't use pluarize since that would seperate text styling from number and label
        followers
      - else
        follower
  - else
    .selection-box-nohref{:id =>'followers'}
      %span.count{:id=>'followercount'}
        0
      followers
  .collection{:id =>'followerbox'}
    - if follower_count > 0
      %div
        - follower_users.each do |fan_follower|
          = render '/bricks/avatar', :item =>fan_follower, :id_prefix =>"fan_follower"
    - else
      .message
        = NO_FOLLOWER_MESSAGE