- selected ||=false
- is_admin ||= false
.selection-box
  featured songs
.collection{:id =>'musicbox'}
  - if @featured_songs.size > 0    
    .featured_song_list
      %ul
  - else
    .message= "No Featured Songs"
- if @featured_songs.size >0
  :javascript
    var songList = [#{list_of_play_items(@featured_songs)}];
    makeFeaturedSongList();
    function makeFeaturedSongList(){
      var liHtml='';
      for(var i=0;i<songList.length;i++){
        liHtml+='<li style="list-style:none"><a href="javascript:void(0);" onclick="playFeaturedSong(' + i + ');"  title="Click to play">' + songList[i]['title'] + '</a><a class="play_list_next" href="javascript:void(0);" onclick="playFeaturedSong(' + i + ');" title="Click to play">play</a></li>';
      }
      $('.featured_song_list ul').html(liHtml);
    }
    function playFeaturedSong(index){      
      var item = songList[index];      
      updateTrackInfo(item.band, item.title, item.image, item.like ? 'liked' : 'like')
      play_music(item.title, item.mp3, item.ogg);
    }
    