- selected    ||=false
- link_class  = selected ? 'active selection-box iconactive ajaxload button-fill-fan backable' : 'selection-box iconactive ajaxload backable'
- unless @is_public
  - header_link = fan_following_artists_path('home')
- else
  - header_link = fan_following_artists_path(user)

%div
  - if following_artist_count > 0
    = link_to header_link, {:id => 'following-artist', :class => link_class} do
      following
      %span.count{:id=>'followingartistcount'}
        = pluralize(following_artist_count, 'artist')
  - else
    .selection-box-nohref
      following
      %span.count{:id=>'followingartistcount'}
        0 artists
  .collection{:id =>'followingartistbox'}
    - if following_artist_count > 0
      %div
        - following_artists.each do |artist|
          = render '/bricks/avatar', :item =>artist
    - else
      .message
        = NO_FOLLOWING_MESSAGE