- selected    ||=false
- link_class  = selected ? 'selection-box iconactive ajaxload button-fill-artist backable' : 'selection-box iconactive ajaxload backable'
- if fan_count >0
  = link_to band_followers_path(:band_name => band.name), {:remote =>:true, :id =>'fanbox', :class =>link_class} do
    %span.count
      = pluralize(fan_count, 'fan')
- else
  .selection-box-nohref
    %span.count
      0
    fan
.collection
  - if fan_count > 0
    %div
      - band_fans.each do |band_fan|
        .avatar
          = link_to get_avatar_small(band_fan), fan_profile_path(band_fan), :class =>'ajaxopen backable', :remote =>true
  - else
    .message= Constant::NO_FAN_MESSAGE