- selected    ||=false
- link_class  = selected ? 'active selection-box iconactive ajaxload button-fill-artist backable' : 'selection-box iconactive ajaxload backable'
%div{:style=>"position: relative;"}
  = link_to band_song_albums_path(:band_name =>band.name), {:remote=>:true, :id=>'music', :class=>link_class} do
    music
  = link_to "", new_band_song_album_path(:band_name => band.name), :remote=>:true, :class=>"ajaxopen right-icon-item icon-add" if @has_admin_access
  .collection{:id =>'featuredmusicbox'}
    - if @featured_songs.size > 0      
      .featured_song_list
        %ul
    - else
      .message= "no featured music"
:javascript
  var songList = [#{list_of_play_items(@featured_songs)}];
  makeFeaturedSongList();
  function makeFeaturedSongList(){
    if(songList.length>0){if($('#featuredmusicbox .featured_song_list').length==0){$('#featuredmusicbox').html('<div class="featured_song_list"><ul></ul></div>');}}
    else{$('#featuredmusicbox').html('<div class="message">no featured music</div>');}
    var liHtml='';
    for(var i=0;i<songList.length;i++){
      liHtml+='<li style="list-style:none"><a href="javascript:void(0);" onclick="playFeaturedSong(' + i + ');"  title="Click to play">' + songList[i]['title'] + '</a><a class="play_list_next" href="javascript:void(0);" onclick="playFeaturedSong(' + i + ');" title="Click to play">play</a></li><br/>';
    }    
    $('.featured_song_list ul').html(liHtml);
  }
  function playFeaturedSong(index){    
    playSongFromAlbum(songList[index]);
  }