= form_tag( {:controller =>'search', :action => 'index'}, :method => "get", :remote =>true, :id =>'search') do
  %input.auto_search_complete{:value => "search", :name => "q", :type => "text", :class => 'search-input', :id =>'term'}
.searchlist
  .pointer2 
:javascript
  $('.search-input').focus(function() {
    if($(this).val()=='search'){$(this).val("");}
    });