- search_term = params[:q] || "search"
= form_tag( {:controller =>'search', :action => 'index'}, :method => "get", :remote =>true, :id =>'search') do
  %input.auto_search_complete{:value => search_term, :name => "q", :type => "text", :class => 'search-input', :id =>'term'}
.searchlist
  .pointer2 
:javascript
  $('.search-input').focus(function() {
    if($(this).val()=='search'){$(this).val("");}
    });
  $('#search').submit(function(){
    var new_url = "#{search_index_path}?q=" + $('input#term').val();
    history.pushState({
      sm:true
    }, document.title, new_url);
    $('.auto_search_complete').autocomplete('close');
  });