- page_missing_content = capture do
  Ops!.....Nothing Found ! Please Check the URL.
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
$('.primary-container .primary .left').html('#{esacape_javascript(page_missing_content)}');
      