.loader
Type your email address to reset your password
#password_reset_email_status_message
= form_tag password_resets_path, :remote => true, :class => 'ajaxopen' do
  Email
  = text_field_tag :email
  = submit_tag "submit",:class=>"button blue", :onClick =>"$('#facebox .content #password_reset_email_status_message').html('').removeAttr('style');$('.loader').html($('#globalloading').html());"
