- if @status_msg.blank?
  $('#facebox .content').html("<div class='centered'><h2>Reset instructions have been sent to your email.</h2></div>");
  setTimeout('$(document).trigger(\"close.facebox\")',2500);
- else
  $('#facebox .error').html('#{@status_msg}');
  $('.popup .content .loader').html('');