!= "jQuery.facebox('#{escape_javascript(render 'reset_form')} ' );"
!= "$('form').submit(function(){($('.loader').html($('#globalloading').html()));return true; $(':submit').attr('disabled','disabled');});"