$('.primary .left').html('<div class="top"></div>');
$('.primary .left .top').html('#{escape_javascript(render 'status_artist')}');
$('.primary .left .top').append('#{escape_javascript(render 'artist/social_header', :current =>'reply')}');
$('.primary .left').append('#{escape_javascript(render 'bricks/artist_posts', :current =>'reply')}');
$('.session .notifications').html('#{escape_javascript(render '/bricks/notifications')}');
setTimeout('$(document).trigger(\"close.facebox\")',10);