README
.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/
.sass-cache/
Gemfile.new
log/*
nbproject/*
public/assets/*
publicassets/*
publicimages/*
Gemfile.lock
solr/data/*
solr/pids/*
config/database.yml
config/sunspot.yml
config/initializers/setup_mail.rb
.DS_Store
db/schema
public/sm/*
