README
.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/
.sass-cache/
Gemfile.new
log/*
nbproject/*
public/assets/*
publicassets/*
publicimages/*
solr/*
solr/conf/*
Gemfile.lock
solr/data/*
config/database.yml
.DS_Store
db/schema
