= javascript_include_tag "swfobject.js", "jquery.uploadify.v2.1.0.js"
- session_key = Rails.application.config.session_options[:key]
:javascript
  $(document).ready(function() {	   
    $('#band_photo_image').click(function(event){ 
      event.preventDefault();
    });	
    $('#band_photo_image').uploadify({
      uploader : '/uploadify/uploadify.swf',
      cancelImg : '/uploadify/cancel.png',
      multi : true,
      auto : true,
      script : '/band_photos/create',
      onComplete : function(event, queueID, fileObj, response, data) {
        var dat = eval('(' + response + ')');        
        $('#uploaded_images').append('<img src="'+dat.upload+'" />');
        $('#album_name').val(dat.album_name);
        $('#album_name').attr("disabled", true);
        var photo_stat = dat.photo_count_str>1 ? dat.photo_count_str + ' photos' : dat.photo_count_str + ' photo' ;        
        $('#photo_stat_' + dat.band_album_id ).html( photo_stat );
        if($('#photobox .collection #band_album_'+ dat.band_album_id).length ==0){
          var new_album_html = get_list_album_html(dat.band_album_id, dat.album_name, dat.add_url, dat.album_url, dat.delete_url, dat.image_src);
          $('#photobox .collection').append(new_album_html);
        }                
      },
      onSelect : function(event,data) {
        $("#band_photo_image").uploadifySettings('scriptData', { 'album_name' : $('#album_name').val(), 'band_name' : $('#band_name').val() });
      },
      scriptData : {
        '_http_accept': 'application/javascript',
        'format' : 'json',
        '_method': 'post',
        '#{session_key}' : encodeURIComponent('#{u cookies[session_key]}'),
        'authenticity_token': encodeURIComponent($('meta[name=csrf-token]').attr('content'))
      }
    });
	
    $('#upload_submit').click(function(event){
      event.preventDefault();
      $('#band_photo_image').uploadifyUpload();
    });
  });

  function get_list_album_html(id, album_name, add_url, album_url, delete_url, img_src){
    var html_str = "<div class='song-album' id='band_album_" + id + "'>";
    html_str      += "<a href='" + add_url + "' class='ajaxopen' data-remote='true'><img alt='Add' src='/assets/add.png'/></a>";
    html_str      += "<span class='album-cover-image'><a href='" + album_url + "' class='ajaxopen' data-remote='true'><img alt='' src='" + img_src + "'/></a></span>";
    html_str      += "<a href='" + album_url + "' class='ajaxopen' data-remote='true'>" + album_name + "</a>";
    html_str      += "<a href='" + delete_url + "' class='ajaxopen' data-confirm='Are you sure?' data-remote='true'><img alt='Remove' src='/assets/remove.png' /></a>";
    html_str      +="</div>"
    return html_str;
  }