<h3>Band Albums</h3>
<% if @band_albums.blank? %>
  Has not uploaded any photo yet 
<% else %>
  <% @band_albums.each do |band_album| %>
  <div class="album" style="margin:2px; background:#363636;">
    <div class="album_teaser_image" style="width:80px;float:left;" >
      <% link_to image_tag(band_album.band_photos.first.image.url(:small)), band_album_photos_path(:band_name =>@band.name, :band_album_name => band_album.name)  %>
    </div>
    <div class="album_name" style="float:right;">
      <h2>
        <%= link_to "#{band_album.name}(#{pluralize(band_album.band_photos.count, 'photo')})", band_album_photos_path(:band_name =>@band.name, :band_album_name => band_album.name) %>
      </h2>
    </div>
    <div class="clear"></div>
  </div>
  <%  end %>
<%  end %>
