- if @band_album
  - band_album_html = capture do
    = render '/band_photos/band_photo_album', :band_album =>@band_album
  $('.primary .left').html('#{escape_javascript band_album_html} ');
  setTimeout('$(document).trigger(\"close.facebox\")',10);
  $('div').removeClass('active');
  $('#photobox .selection-box').addClass('active');