<h3><%=  "#{@band_album.name}(#{@band_album.band_photos.count})" %></h3>
<% @band_album.band_photos.each do |photo| %>
    <div class="album_photo" >
      <%= link_to image_tag(photo.image.url(:medium)), band_album_photo_path(photo.id, :band_album_name => @band_album.name, :band_name => @band.name), :remote => true, :class => 'ajaxopen'  %>
    </div>
<%  end %>