- if @status
  $('#facebox .content').html('Album successfully deleted');  
  $('#photobox .collection #band_album_#{@band_album.id}').remove();  
  != "$('.primary .left #band_album_#{@band_album.id}').remove();"
- else
  jQuery.facebox("Something went wrong! Try again!");
$.facebox.close();

