- if @status
  $('#facebox .content').html('Album successfully deleted');    
  updateAfterPhotoAlbumRemoval('#{@band_album.id}');
- else
  jQuery.facebox("Something went wrong! Try again!");
$.facebox.close();

