- if @status
  $('#facebox .content').html('Album successfully deleted');  
  $('#photobox .band-box-content #band_album_#{@band_album.id}').remove();
  != "$('#band_album_#{@band_album.id}').remove();"
- else
  jQuery.facebox("Something went wrong! Try again!");
$.facebox.close();

