!= "jQuery.facebox('#{escape_javascript(render '/band_photos/form')}');"
!= "$('.ajaxopen').bind('ajax:before', function() {jQuery.facebox($('#globalloading').html());$(':submit').attr('disabled','disabled');});"   