$.facebox("Updated successfully");
!= "$('#band_photo_#{@band_photo.id}').replaceWith('#{escape_javascript(render 'band_photo', :photo => @band_photo)}');"
setTimeout('$(document).trigger(\"close.facebox\")',10);