$('#facebox #notice').html("<span style='color:red;font-size:15px;'>Updated Band Album Details</span>");
$.facebox("Updated successfully");
!= "$('.primary .left #band_album_#{@band_album.id}').replaceWith('#{escape_javascript(render 'band_photo_album', :band_album => @band_album)}');"
setTimeout('$(document).trigger(\"close.facebox\")',10);