$('.primary .left').html('');
- band_members = capture do
  Band Members
  %hr
  - @band_members.each do |user| 
    .band-member
      .avatar
        = link_to get_avatar_medium(user), fan_profile_path(user.id)
      .user-name 
        %strong
          = link_to user.get_full_name, fan_profile_path(user.id)
      .clear 
$('.primary .left').html('#{escape_javascript(band_members)}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.selection-box').removeClass('active').removeClass('button-fill-artist');
$('#members').addClass('active').addClass('button-fill-artist');