- artist_members = capture do
  .connections_list
    - @artist_members.each do |user|
      = render '/user_connections/item', :user => user, :connection_item => user, :is_user_fan => false
$('.primary .left').html('#{escape_javascript(artist_members)}');
$('.primary .right').html('#{escape_javascript(render 'right', :current =>'member')}');
closeFacebox(1000);
scrollToContainerTop();