$('.top-bar .session').html('#{escape_javascript(render '/artist/artist_admin_header')}');
$('.live').html('#{escape_javascript(render 'live')}');
$('.primary').html('#{escape_javascript(render 'social_content')}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.selection-box').removeClass('active').removeClass('button-fill-artist');
$('#feed-msg').addClass('active').addClass('button-fill-artist');
$('.left a').removeClass('active').removeClass('button-fill-artist');
$('#user-post .selection-box').addClass('active').addClass('button-fill-artist');