.area.form.toggle-sole
  #notification-setting-msg.msg
  .details
    %h3
      %span email notifications
  .content
    %form
      .field.notification-toggle
        %label
          toggle
        = check_box_tag :notification, @user.notification_on, @user.notification_on, :onchange =>"$.ajax('#{update_notification_setting_url}');"
:javascript
  $('input[type=checkbox]').checkbox();
  $('.left input[type=checkbox]').checkbox({
    cls:'control-toggle',
    empty: '/assets/empty.png'    
  });