= hidden_field :user, :invitation_token
.registration-tos
  #terms
    %h2 Terms of service
    %p
      This agreement was written in English. Users agree to abide by the terms set below, as updated, in the use of the SoundMelon platform.
    %p
      Last Revised: July 03, 2012
    %p
    1. The music store, radio, advertisement, and other media uploaded by users
    %span
      %p
        a. Users may only upload and publish works that they own to right to sell or share.
      %p
        b. Users may not download or use a publisher’s content without consent of the publisher.
      %p
        c. Users may not create multiple accounts to increasing streaming allowance.
      %p
        d. Content of the media should abide by the terms of Respect for Fellow Users (item 3).
      %p
        e. By publishing your content on SoundMelon, publisher gives SoundMelon the right to promote, sell, and use said content.
      %p
        f. For promotional purposes, SoundMelon has to right to put content on sale, and publisher will be compensated accordingly.
      %p
        g. By selling your content, you agree to allow buyers the right of listening and downloading of such content. Buyer understands that the use of such
        content is for persona purpose only and shall not use it for commercial purpose without the consent of the publisher.
      %p
        h. Users recognize that any media uploaded to SoundMelon is the property of SoundMelon. We have the right to keep such content on our database. SoundMelon
        will not use such content for personal purposes or are not in line with above terms.
    %p
      2. Confidentiality
    %span
      %p
        a. SoundMelon do not publish or sell any user information. While we strongly value and respect user’s privacy and confidentiality, users understand that
        any information uploaded to SoundMelon is the property of SoundMelon, and is viewable and controllable by SoundMelon.
      %p
        b. SoundMelon will use such information to facilitate passive media promotion to achieve the goal of music discovery.
      %p
        c. SoundMelon limit the use and storage of sensitive, personal and financial content. While we do not force such limitation, we encourage users to limit
        such information on SoundMelon.
    %p
      3. Respect for fellow users
    %span
      %p
        a. While we recognize that the use of expression and expletive language is an art form, users may not engage in hateful, hurtful, racist, and other
        dehumanizing conversation against other uses.
      %p
        b. In case of media with expletive content, publishers agree to tag such content with the “expletive” tag.
      %p
        c. Users have control over and will set their own exposure to expletive content.
      %p
        d. Users shall not engage in “spamming” practices against other users.
      %p
        e. Users shall not express unreasonable harassment against SoundMelon’s staff.
    %p
      4. Use of the SoundMelon’s content
    %span
      %p
        a. All content presented on SoundMelon is a property of SoundMelon. User might not use such content for commercial purposes without the consent of
        SoundMelon
      %p
        b. While SoundMelon recognize and embrace parody works, we encourage users to exercise such works in accordance to the terms set out in this agreement.
        SoundMelon shall have the right to exercise injunction of such works in accordance to the copy-right law.
      %p
        c. Users shall not create multiple account to take advantage of free content or get around band control
    %p
      5. Mobile and other Devices
    %span
      %p
        a. All use of mobile and other devices shall abide by the terms set out by SoundMelon, as an extension to the website
    %p
      6. Payment and Transaction record
    %span
      %p
        a. SoundMelon uses expert transaction partners to handle payment and transaction record. We do not hold sensitive information such as VISA card number on
        the server.
      %p
        b. Publisher shall use payment mechanism suggested by SoundMelon to facilitate payment.
      %p
        c. Publisher will be paid 70% of the revenue received by SoundMelon.
      %p
        d. SoundMelon will only send payment to one entity. The entity is responsible to facilitate its own profit distribution between stakeholders.
    %p
      7. Change in Agreement
    %span
      %p
        a. SoundMelon has the right to change the terms of service and agreement, and users shall abide by the new terms. Such changes will be notified to the user
        base.
    %p
      8. Control of SoundMelon
    %span
      %p
        a. In event of the breach of, or deviation from, the terms set out above, SoundMelon has full right to adjust, change, and remove the users or content in
        question
    %p
      9. Liability to SoundMelon
    %span
      %p
        a. In event of the breach of, or deviation from, the terms set out above, SoundMelon is in no way responsible for any legal issues, liabilities, or claims
        that might arise.
      %p
        b. SoundMelon shall not be held responsible to any legal issues, liabilities, or claims due to uploaded content that does not abide by the terms. We
        encourage users to abide by the terms and understand that we are not able to control every single action done by our users.
      %p
        c. SoundMelon is not responsible of 3
        %sup rd
        party action or liability, SoundMelon is in no way responsible for any legal issues, liabilities, or
        claims that might arise.
    %p
      10. Termination
    %span
      %p
        a. In event of the breach of, or deviation from, the terms set out above, SoundMelon has to right to terminate the user profile or content in question.
    %p
      11. Disputes
    %span
      %p
        a. This Agreement shall be governed by and construed in accordance with the laws of Ontario, Canada, without giving effect to any conflict or choice of law
        provisions. Although we encourage users to first contact customer service and resolve a dispute, any escalated dispute including but not limited to resolve
        of claim, cause of action or dispute (claim) you have with us arising out of or relating to this Statement or SoundMelon will be dealt in a Provence or
        federal court located in Ontario.
      %p
        b. We try to provide our service in a safe and bug-free environment, but users shall use SoundMelon at your own risk. We provide the service of SoundMelon
        without any express or implied warranties on the function of merchantability, fitness for a particular purpose, non-infringement, or success of your
        career. Understand that website is often attacked, and while we will make our best effort to keep you safe, we cannot guarantee that SoundMelon will always
        be safe, secure, error-free, or function without disruption.
  .form
    .fields
      %label{:for => "t&c"} I accept
      = check_box :user, :tac, :id => "accept-checkbox"
    = submit_tag 'continue', :size => "100", :id => 'continue', :disable_with =>"submitting"
:javascript 
  $('#accept-checkbox').change(function() {
    if($('#accept-checkbox').is(':checked')){
      $('#continue').removeAttr('disabled').css('opacity', 1).css('cursor', 'pointer');
    } else {
      $('#continue').attr('disabled', true).css('opacity', .5).css('cursor', 'default');
    }
  });