.registration
  - if !@user.errors.blank?
    .registration-error
      %ul
        - @user.errors.full_messages.each do |message|
          %li= "#{message}".downcase
  = render "fan/registration_form_#{@user.current_step}", :f => f