= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"
= hidden_field :user, :invitation_token
.field
  %input{:id =>'user_location_attributes_name', :type =>'hidden', :name =>'user[location_attributes][name]'}
  %input{:id =>'user_location_attributes_lat', :type =>'hidden', :name =>'user[location_attributes][lat]'}
  %input{:id =>'user_location_attributes_lng', :type =>'hidden', :name =>'user[location_attributes][lng]'}
  %input{:id =>'user_location_attributes_url', :type =>'hidden', :name =>'user[location_attributes][url]'}
  %label{:for => "name"} Your Location
  %input{:id =>'user_location_attributes_formatted_name', :type =>'text', :name =>'user[location_attributes][formatted_name]', :size =>200, :placeholder =>''}

:javascript    
  var input = document.getElementById('user_location_attributes_formatted_name');
  var options = {
    types: ['(cities)'],
    componentRestrictions: {country: 'ca'},
    place_changed : function(){
    var place = autocomplete.getPlace();    
    $('input#user_location_attributes_name').val(place.name);
    if(place.geometry){
      $('input#user_location_attributes_lat').val(place.geometry.location.Xa);
      $('input#user_location_attributes_lng').val(place.geometry.location.Ya);
      $('input#user_location_attributes_url').val(place.url);
    }
    }
  };
  autocomplete = new google.maps.places.Autocomplete(input, options);  