$('.primary .left').html('');
- manage_profile_forms = capture do
  .content-box#basic-info
    = render :partial => 'basic_info_form'
  .content-box#additional-info
    = render :partial => 'edit_additional_info_form'
  .content-box#change-password
    = render :partial => 'change_password_form'
$('.primary .left').html('#{escape_javascript(manage_profile_forms)}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.selection-box').removeClass('active').removeClass('button-fill-fan');
$('#manage-profile').addClass('active').addClass('button-fill-fan');