.primary-container
  .primary
    .left
      - if @confirmation_thanks
        %p.center
          Thanks for confirming!
      - elsif true
        .setup-space
          = render 'fan/setup_location'