.signup-success
  %h2 Thanks for signing up.
  %h1 But for heaven's sake, check your email for an activation link!
  %a{:href => "/", :class => "splash-highlight-button"} go homeski
  %img{:src => "/assets/splash/splash-melonbg.jpg"}