- artist_shows = capture do
  .content-action-space
    - if @has_admin_access
      share an upcoming gig
      = link_to "add show", new_artist_show_path(@artist), :remote=>:true, :class=>"ajaxopen add-new", :title => "add new show"
  .show-list
    - if @artist_shows.blank?
      Artist has not set any show dates!
    - else
      - @all_artist_shows.each do |artist_show|
        = render '/artist_show/show', :artist_show =>artist_show, :show_all =>@show_all || false

updateLeftSection('#{escape_javascript artist_shows}');
updateRightSection('#{escape_javascript(render 'artist_public/right', :current =>'show')}');
closeFacebox(1000);
scrollToTop();