- artist_shows = capture do  
  .show-list
    - if @has_link_access
      .content-actions
        = link_to "add show", new_artist_show_path('home'), :remote=>:true, :class=>"ajaxload add-new", :title => "add new show"
      - if @artist_show_list.blank?
        %img{:src => "/assets/tutorial/artist-instruct-shows.png", :class => "instruct-img"}
    - @artist_show_list.each do |artist_show|
      = render '/artist_show/show', :artist_show =>artist_show, :show_all =>@show_all || false
updateLeftSection('#{escape_javascript artist_shows}');
updateRightSection('#{escape_javascript(render 'artist_public/right', :current =>'show')}');
closeFacebox(1);
scrollToTop();