= render :partial=>"/artist/live"
.primary-container
  .primary
    .left
      .show-list
        - if @artist_show_list.blank?
          - if @has_link_access
            .add-action-space
              share an upcoming gig
              = link_to "add show", new_artist_show_path(@artist), :remote=>:true, :class=>"ajaxopen add-new", :title => "add new show"
        - else
          - @artist_show_list.each do |artist_show|
            = render '/artist_show/show', :artist_show => artist_show
    .right
      = render "/artist_public/right", :current =>'show'