faceboxContent('updated show details');
if($('.show-list').length > 0){$('.show-list #artist_show_#{@artist_show.id}').replaceWith('#{escape_javascript(render 'show', :artist_show =>@artist_show)}');}
closeFacebox(1000);
