Welcome #{"#{@user.fname} #{@user.lname}"},
\===============================================

Your account has been successfully activated.

To login to follow this link: #{@url}.

Welcome to the community and have a great day!
