There is new feedback
\===============================================

This is about : #{@feedback_subject}

#{@content}

\================================================
- url = @user.is_fan? ? fan_profile_url(@user) : show_band_url(@user.name)

Sent By : #{url}

