Hello #{@toemail}
\
your friend #{@user.fname} #{@user.lname} has invited you to join  soundmelon,

Please click the following link to join soundmelon.
#{@url}
\
Welcome to the community and have a great day!
