Hello #{@toemail},
%br/
your friend #{@user.fname} #{@user.lname} has invited you to join  soundmelon,
%br/
Please click the following link to join soundmelon.
#{@url}
%br/
Welcome to the community and have a great day!
