.row
  - if user == current_user
    = link_to get_avatar_medium(user), fan_home_url, :class =>'ajaxopen backable', :remote =>true
  - else
    = link_to get_avatar_medium(user), fan_profile_path(user), :class =>'ajaxopen backable', :remote =>true
  / RESULT INFO
  .info
    %h3
      - if user == current_user
        = link_to user.get_full_name, fan_home_url, :class =>'ajaxopen backable', :remote =>true
      - else
        = link_to user.get_full_name, fan_profile_path(user), :class =>'ajaxopen backable', :remote =>true
  .clear