.row
  = link_to get_band_logo_medium(band), show_band_path(band.name), :class =>'ajaxopen backable', :remote =>true
  / RESULT INFO
  .info
    %h3= link_to "#{band.name} (#{band.genre})", show_band_path(band.name), :class =>'ajaxopen backable', :remote =>true
  .clear