- @user = current_user
- got_some_results = (@user_search_results.results.size>0) || (@band_search_results.results.size>0)
- search_result = capture do
  - if got_some_results
    #results
      - unless @user_search_results.results.blank?
        .users_header
          %h3 USERS
        - @user_search_results.results.each do |user|
          = render 'result_user' , :user =>user
      - unless @band_search_results.results.blank?
        .bands_header
          %h3 BANDS
        - @band_search_results.results.each do |band|
          = render 'result_user' , :band =>band
  - else
    %h3
    No Results Found for '#{params[:q]}'
$('#page-content').html('#{escape_javascript(search_result)}');