- total_fan_count     = @fan_search_results.total
- total_artist_count  = @artist_search_results.total
- fan_results         = @fan_search_results.results
- artist_results      = @artist_search_results.results
- @user               = current_user
- got_some_results    = (fan_results.size>0) || (artist_results.size>0)
.live.live-rounded
  #results
    - if got_some_results
      #artist-section
        - unless artist_results.blank?
          = render '/search/artist_result_items', :total_artist_count => total_artist_count, :artist_results =>artist_results, :connection_item => @user, :is_user_fan => false
      #fan-section
        - unless fan_results.blank?
          = render 'search/fan_result_items', :total_fan_count => total_fan_count, :fan_results =>fan_results, :connection_item => @user, :is_user_fan => false
    - else
      %h3 no results found for '#{params[:q]}'