- tabs      = [:latest_post, :music, :photo, :show, :member, :fan, :manage_profile, :invite_artistmate, :song, :connection]
- current   = current.blank? ? 0 : (tabs.index(current.to_sym) || 0)
.items 
