= render :partial=>"/colony/live"
.primary-container
  .primary
    .left
      = render '/colony/edit_form', :action_url => update_colony_path(@colony.id)
    .right
      = render "/colony/right", :current =>'manage_profile'