updateLiveSection('#{escape_javascript(render '/artist/live')}');
updateLeftSection('#{escape_javascript(render '/artist/edit_form', :action_url => update_artist_path(@artist.id))}');
updateRightSection('#{escape_javascript(render '/artist/right', :current =>'manage_profile')}');
closeFacebox(10);
scrollToTop();