= render "colony/live"
.primary-container
  .primary
    .left
      - if @is_admin
        .top
          = render '/user_posts/status_colony'
      = render "/colony/colony_posts"      
    .right
      = render "/colony/right"