faceboxContent("Successfully deleted");
closeFacebox(1000);
- if @item.is_artist?
  $('.profile-image').html('#{escape_javascript(get_artist_profile_image(@item,true))}');
- else
  $('.profile-image').html('#{escape_javascript(get_venue_profile_image(@item,true))}');