$(':submit').removeAttr('disabled');
jQuery.facebox("Successfully cropped");
setTimeout('$(document).trigger(\"close.facebox\")',1000);
!= "$('.profilepic').html('#{escape_javascript(get_avatar_large(current_user, true))}');"

