- tabs      = [:invitation_request, :sent_invitation]
- current   = current.blank? ? 0 : (tabs.index(current.to_sym) || 0)
.items
  = link_to 'invitation requests',
            admin_home_path,
            :id                 => 'invitation_request',
            :remote             => true,
            :class              => 0 == current ? "iconactive selection-box button-fill-artist ajaxopen" : "iconactive selection-box ajaxopen"
  = link_to 'sent invitation requests',
            admin_home_path(1),
            :id                 => 'sent_invitation_request',
            :remote             => true,
            :class              => 1 == current ? "iconactive selection-box button-fill-artist ajaxopen" : "iconactive selection-box ajaxopen"
  = link_to 'add invitation request',
            new_invitation_path, 
            :id                 =>'invite-friends',
            :remote             => true,
            :class              => 'selection-box ajaxopen'  
.fader