- featured_songs ||=[]
%b Featured Songs
%br/
.featured_songs{:style=>'margin:5px;padding:5px;'}
  - featured_songs.each do |song|
    = render 'featured_song', :song =>song
  - (6 - featured_songs.size).times do |i|
    .new_featured_song{:style=>'height:40px;width:40px;padding-left:15px;padding-top:13px;margin-left:5px;border:1px solid blue;float:left;'}      
      = link_to "Add New", popup_for_feature_songs_path(:band_name =>@band.name), :remote=>:true, :class=>"ajaxopen", :title =>'Choose Song to Set as Featured'
.clear