- featured_songs ||=[]
.featured
  - featured_songs.each do |song|
    - song_album = song.song_album
    - song_name  = song.title || song.song_name_without_extension
    = link_to make_song_featured_path(song_album.band.name, song_album.album_name, song.id), {:id =>"#{song.id}_featured", :remote=>:true, :class=>"ajaxopen featured-song feature-enabled", :title => 'remove from featured'} do
      %span= song_name.truncate(16)
      %span remove
  - (6 - featured_songs.size).times do |i|
    = link_to "feature new song", popup_for_feature_songs_path(:band_name =>@band.name), :remote => :true, :class => "ajaxopen featured-song  placeholder", :title => 'choose a song to feature'
.clear