!= "jQuery.facebox('#{escape_javascript(image_tag @photo.image.url(:large))} ');"
!= "$('.ajaxopen').bind('ajax:before', function() {jQuery.facebox($('#globalloading').html());$(':submit').attr('disabled','disabled');});"