.buzz-window
  - buzzes_by_date.each do |date, buzzes|
    %date{:id =>"date_#{date.split('-').join()}"}
      %div
        %h1
          = date.to_date.strftime('%b')
        %h2
          = date.to_date.strftime('%d')
    = render 'buzz_aggregate', :posts => buzzes