- form_post_path = @artist_music ? artist_music_buzz_post_path(@artist_music.album_name, @artist_music) : song_buzz_post_path(@song)
.status-input
 = form_tag(form_post_path, :class=>"ajaxopen", :remote => true, :id => 'buzz_form') do  
  = text_area_tag :msg, nil, :maxlength => 200, :cols => 50, :rows => 3, :class =>'autosubmit'
  .postbtn
   = submit_tag('Post',:class=>"button blue right")
  .clear