- form_post_path = @artist_photo_album ? artist_album_buzz_post_path(@artist_photo_album, :album_name => @artist_photo_album.name ) : photo_buzz_post_path(@photo)
.statusinput
 = form_tag(form_post_path, :class=>"ajaxopen", :remote => true, :id => 'buzz_form') do  
  = text_area_tag :msg, nil, :maxlength => 200, :cols => 50, :rows => 3
  .postbtn
   = submit_tag('Post',:class=>"button blue right")
  .clear