.header
  - if @artist_photo_album
    #{@artist_photo_album.name}
  - else
    #{@artist_photo.caption}
.normal-content
  = render 'buzzlisting', :buzzes_by_date =>@buzzes_by_dates
  = render 'photo_album_buzz_form'
