- form_post_path = artist_show_buzz_post_path(@artist_show)
.statusinput
 = form_tag(form_post_path, :class=>"ajaxopen", :remote => true, :id => 'buzz_form') do  
  = text_area_tag :msg, nil, :maxlength => 200, :cols => 50, :rows => 3
  .postbtn
   = submit_tag('Post',:class=>"button blue right")
  .clear