!= "jQuery.facebox('#{escape_javascript(render 'photo_album_buzz')} ');"
!= "$('.ajaxopen').bind('ajax:before', function() {jQuery.facebox($('#globalloading').html());$(':submit').attr('disabled','disabled');});" 