- content_for :tophead do
  #homehead
    %h2
      %a{:href => "#"} SoundMelon
    = @page_type
    Registration
.content-box
  %div{:style => "padding-top:30px;"}
    Please check your inbox for confirmation email.
