= render :partial=>"/artist_public/live"
.primary-container
  .primary
    .left
      .album_list_header
        %b Band Shows
        - if @is_admin_of_band
          .add_new{:style=>'float:right;background-color:grey;height:20px;width:70px;padding-left:10px;'}
            = link_to "add show", new_band_tour_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen"
        %hr/
      - if @band_shows.blank?
        Band has not set any shows!
      - else
        - @band_shows.each do |band_tour|
          = render '/band_tour/band_tour', :band_tour =>band_tour
    .right
      = render "/artist_public/right", :current =>'tour'