- if @band_tour  
  $('.primary .left').html('#{escape_javascript(render :partial =>'/band_tour/band_tour',:locals =>{:band_tour =>@band_tour})} ');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.active').removeClass('active').removeClass('button-fill-artist');
$('#tourbox .selection-box').addClass('active').addClass('button-fill-artist');