- band_tours = capture do
  .album_list_header
    %b Band Shows
    - if @has_admin_access
      .add_new{:style=>'float:right;background-color:grey;height:20px;width:70px;padding-left:10px;'}
        = link_to "add show", new_band_tour_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen"
    %hr/
  - if @band_shows.blank?
    Band has not set any shows!
  - else
    - @band_shows.each do |band_tour|
      = render '/band_tour/band_tour', :band_tour =>band_tour, :show_all =>@show_all || false

$('.primary .left').html('#{escape_javascript band_tours} ');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.selection-box').removeClass('active').removeClass('button-fill-artist')
$('#shows').addClass('active').addClass('button-fill-artist');