!= "jQuery.facebox('#{escape_javascript(render :partial =>'/band_tour/form')}');"
!= "$('.ajaxopen').bind('ajax:before', function() {jQuery.facebox($('#globalloading').html());$(':submit').attr('disabled','disabled');});"