.user_posts
  -@posts_order_by_dates.each do |date, posts|
    .dateicon 
      = date.to_date.strftime("%b %d")
    = render 'user_posts/user_post', :posts => posts      
    .clear
-if !@load_more_path.nil?
  .readmore
    =link_to("Read more", @load_more_path ,:remote => true,:class=>"ajaxload")