- page_content = capture do  
  = render @page_name
- if current_user  
  $('#page-content .primary-container').html('');
- else
  $('#page-content').html('<div class="primary-container" style="padding-top:11px;"><div class="primary"></div></div>');
$('#page-content .live').html('#{escape_javascript(page_content)}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
scrollToTop();