.header
  %h1 Step 1
  %h3 Basic Info
- is_new = @artist.new_record?
.content-custom
  .area.form.artist-basic
    .content{:id=>'basic-info'}
      .details
        type your name, username and date established
      - if is_new
        .field
          %label{:for=>"name"}
            name
          = f.text_field :name
        .field
          %label{:for=>"username"}
            username
          = f.text_field :mention_name
        .field
          %label{:for=>"username"}
            active since
          = f.text_field :est_date, {:editable =>false}
      - else
        .field
          %label{:for=>"name"}
            name
          = f.text_field :name

:javascript
  $('#artist_est_date').datepicker({dateFormat:'yy-mm-dd'});