%h3 Genres for the Artist
.content-box
  .area.form.artist-basic
    .details
      Select genres for Artist
    .content
      .field 
        = f.text_field :genre_tokens,{ :size => 40, :class => 'textfield'}
