.left
  .leftcontainer
    Band New will come here
    %br
    Band New will come here
    %br
    Band New will come here
    %br
    Band New will come here
    %br
    Band New will come here
    %br
.rightbar
  Band Events will come here
  %br
  Band Events will come here
  %br
  Band Events will come here
  %br
  Band Events will come here
  %br
.clear