.primary-container
  .primary
    .left
      = render '/user_posts/status_input'
      = render '/artist/social_header', :current =>'latest'
      = render "/bricks/artist_posts"
    .right
      = render "/artist/right"
    