- artist_bandmates_content = capture do
  %h3 Invite other bandmates for your Artist
  .content-box
    .area.form
      .details
        Solo or band?
      .content
        .field
          %input{:type =>'radio',:name =>'solo_band', :id =>'solo_band', :onchange =>"$('.popup .artist_bandmate_invitation').hide();"} Solo Act
          %br
          %input{:type =>'radio',:name =>'solo_band', :id =>'solo_band', :onchange =>"$('.popup .artist_bandmate_invitation').show();"} Band
  .artist_bandmate_invitation{:style =>'display:none;'}
    = render 'invite_artist_member_form'
  
  = link_to "continue", add_artist_info_path(@artist.id), :remote =>:true

$('.popup .left').html('#{escape_javascript(artist_bandmates_content)}');