$('.primary .left').html('');
$('.primary .left').html('#{escape_javascript(render '/artist/form', :action_url => update_band_path(@band.id))}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.selection-box').removeClass('active').removeClass('button-fill-artist');
$('#manage_profile').addClass('active').addClass('button-fill-artist');