= render :partial=>"/artist/live"
.primary-container
  .primary
    .left
      %b Edit Artist Profile
      %hr
      = render 'form', :action_url => update_band_path(@band.id)
    .right
      = render "/artist/right", :current =>'manage_profile'