= render :partial=>"/artist/live"
.primary-container
  .primary
    .left
      = render '/artist/form', :action_url => update_artist_path(@artist.id)
    .right
      = render "/artist/right", :current =>'manage_profile'