alert('Band Details Successfully Updated.');
$('#error_explanation').html('');
$('#error_explanation').hide();
//$('.band-form').hide();
//$('#update-msg').html('Band Successfully Updated. This page will be now reloaded!');
setTimeout('$(document).trigger(\"close.facebox\")',10);
//window.setTimeout('location.reload()', 3000);