= render :partial=>"/artist/live"
.primary-container
  .primary
    .left
      #photo_album_box
        - if @has_link_access
          .content-actions
            = link_to "add album", new_artist_album_path('home'), :remote=>:true, :class=>"ajaxopen add-new"
          - if @artist_album_list.empty?
            %img{:src => "/assets/tutorial/artist-instruct-photos.png", :class => "instruct-img"}
        - @artist_album_list.each do |artist_album|
          = render '/artist_photo/album', :artist_album =>artist_album, :show_all =>@show_all || false
    .right
      = render '/artist_public/right', :current => 'photo'