faceboxContent("Updated successfully");
$('.primary .left #album_#{@artist_album.id}').replaceWith('#{escape_javascript(render 'album', :artist_album => @artist_album, :show_all =>true)}');
closeFacebox(100);