- message = @sent ? 'Invitation is on it\'s way, thanks!' : 'Thanks for signing up, we\'ll send you an invite in no time!'
$('#facebox .content > div:first-child').html("<h2>#{message}</h2>");
setTimeout('$(document).trigger(\"close.facebox\")',2500);