- no_post_form ||= false
= render "bulletin_form" unless no_post_form
.clear
.bulletinsicon
  - unless @bulletins.blank?
    Bulletins
.band-bulletins
  = render 'user_posts/user_post', :posts => @bulletins
-if !@load_more_bulletins_path.nil?
  .readmore#bulletin-readmore
    =link_to("Read more", @load_more_bulletins_path ,:remote => true,:class=>"ajaxload")
.user_posts
  -@posts_order_by_dates.each do |date, posts|
    .date 
      = date.to_date.strftime("%b %d")
    = render 'user_posts/user_post', :posts => posts      
    .clear
-if !@load_more_path.nil?
  .readmore
    =link_to("Read more", @load_more_path ,:remote => true,:class=>"ajaxload")