$('.midcontent > .left > .leftcontainer').html('');
$('.midcontent > .left > .leftcontainer').html('#{escape_javascript(render 'form', :action_url => update_band_path(@band.id))}');
setTimeout('$(document).trigger(\"close.facebox\")',10);