$('.left').html('');
$('.left').html('#{escape_javascript(render 'form', :action_url => update_band_path(@band.id))}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('div').removeClass('active');
$('#profile-info .selection-box').addClass('active'); 