.blankbox
  %h3 find friends
  wanna follow people you know? do it here
.homefeed.center
  .feedbox
    %h3 facebook
    .fields.hide
      %input#email.textfield{:name => "email", :type => "text", :value => "username"}/
      %input#email.textfield{:name => "email", :type => "text", :value => "password"}/
  .feedbox
    %h3 twitter
    .fields.hide
      %input#email.textfield{:name => "email", :type => "text", :value => "username"}/
      %input#email.textfield{:name => "email", :type => "text", :value => "password"}/
  .feedbox
    %h3
      %a{:href=>"#gmail",:rel=>"topup"}
        Gmail
    .hide{:id=>"gmail"}
      %h1
        %span.shaded
          Find you friends on 
        Gmail
      = form_for(:additional_info, {:url => create_additional_info_path, :remote => true}) do |f|
        .fields
          %label{:for => "name"} username
          = f.text_field :location, {:size => 20, :class => 'textfield'}
          .clear
        .fields
          %label{:for => "name"} Password
          = f.text_field :favourite_genre, {:size => 20,:class => 'textfield'}
          .clear
          
        = f.submit 'Add', :class => 'button right'
      
  .clear
  %input.button{:name => "submit", :type => "submit", :value => "Search"}/
  .clear
