:javascript
  $("#additional_info_favourite_genre").tokenInput(
    [#{genre_atuofill}],
    {
      theme: "facebook",
      prePopulate: [#{genre_prepopullate_from_addinfo(@additional_info)}]
  });
