$('.top-bar .session').html('#{escape_javascript(render '/artist/artist_admin_header')}');
$('.live').html('#{escape_javascript(render 'live')}');
$('.primary .left').html('#{escape_javascript(render '/bricks/fan_posts')}');
$('.primary .right').html('#{escape_javascript(render 'right')}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.selection-box').removeClass('active').removeClass('button-fill-artist');
$('#feed-msg').addClass('active').addClass('button-fill-artist');
$('.left a').removeClass('active').removeClass('button-fill-artist');
$('#latest').addClass('active').addClass('button-fill-artist');