$('.primary .left').html('');
- manage_profile_forms = capture do
  = render :partial => 'basic_info_form'
  = render :partial => 'edit_additional_info_form'
  = render :partial => 'change_password_form'
    
$('.primary .left').html('#{escape_javascript(manage_profile_forms)}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.selection-box').removeClass('active').removeClass('button-fill-fan');
$('#manage-profile').addClass('active').addClass('button-fill-fan');