<h3>Your Albums</h3>
<% if @albums.blank? %>
  You have not uploaded any photos yet. 
  <%= link_to 'Start uploading', new_photo_path %>
<% else %>
  <% @albums.each do |album| %>
  <div class="album">
    <div class="album_teaser_image" >
      <% link_to image_tag(album.photos.first.image.url(:medium)), album_photos_path(album.name)  %>
    </div>
    <div class="album_name">
      <h2>
        <%= link_to "#{album.name}(#{album.photos.count} photos)", album_photos_path(album.name) %>
      </h2>
    </div>
  </div>
  <%  end %>
<%  end %>