<h3><%=  "#{@album.name}(#{@album.photos.count})" %></h3>
<% @album.photos.each do |photo| %>
    <div class="album_photo" >
      <%= link_to image_tag(photo.image.url(:medium)), album_photo_path(photo.id, :album_name => @album.name), :remote => true, :class => 'ajaxopen'  %>
    </div>
<%  end %>