//contains all generic elements

@import 'vars';

//generic
html, body {
  padding: 0px;
  margin: 0px;
  font-family: "Trebuchet MS", arial, verdana, tahoma;
  font-size: 13px;  
	font-weight: normal;
  color: $text-color; 
	background: $footer-bg-color;
}
img { 
  border: none; 
  vertical-align: middle;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
  &:hover { text-decoration: none; }
}

//headings
h1 {
	font-size: 24px;
	font-weight: normal;
}
h2 {
	font-size: 18px;
	font-weight: normal;	
}
h3 {
	font-size: 14px;
	font-weight: normal;
}
i {
	display: inline-block;
}