//collection of custom mixins and reusable styles

@import 'compass/utilities/sprites/sprite-img';
@import 'compass/css3';
@import 'vars';

//control styles: button
@mixin base-button-nohref {
	@include linear-gradient(#393939, #313131);
	@include box-shadow(rgba(black, .2), 0px, 2px, 3px);
	@include border-radius($detail-border-radius);
	border: none;
	padding: 4px 5px;
	font-size: $base-button-font-size;
	color: $base-button-font-color;
	a {
		text-decoration: none;
	}
}
@mixin base-button {
	@include base-button-nohref;
	
	&:hover {
		@include linear-gradient(#555, #444);
		text-decoration: none;
		cursor: pointer;
	}
}

@mixin base-highlight-button($color: $inverted-object-bg-color) {
	@include linear-gradient($color, darken($color, 15));
	@include box-shadow(rgba(black, .2), 0px, 2px, 3px);
	@include border-radius($detail-border-radius);
	@include single-text-shadow(lighten($color, 20), 0px, 1px, 0px);
	border: none;
	padding: 4px 5px;	
	font-size: $base-button-font-size;
	color: black;
	
	&:hover {
		@include linear-gradient(lighten($color, 15), $color);
		@include single-text-shadow(lighten($color, 35), 0px, 1px, 0px);
		text-decoration: none;
		cursor: pointer;
	}
}
@mixin base-highlight-button-dark {
	@include base-highlight-button();
	@include linear-gradient(darken($inverted-object-bg-color, 20), darken($inverted-object-bg-color, 40));	
	
	&:hover {
		@include linear-gradient(darken($inverted-object-bg-color, 10), darken($inverted-object-bg-color, 30));
	}
}

@mixin overlay-button {
	@include linear-gradient($generic-active-color, darken($generic-active-color, 20));
	@include box-shadow(rgba(black, .1), 0px, 2px, 4px);
	@include border-radius($detail-border-radius);
	@include single-text-shadow(darken($generic-active-color, 30), 0px, -1px, 0px);	
	border: none;
	padding: 4px 5px;
	font-size: $base-button-font-size;
	color: white;
	a { text-decoration: none; }
	
	&:hover {
		@include linear-gradient(lighten($generic-active-color, 10), darken($generic-active-color, 10));
		text-decoration: none;
		cursor: pointer;
	}
}

//control style: fields
@mixin base-text-field {
	background: none;
	border: none;
	border-bottom: 1px solid $line-color;
	color: $text-color;
	font-size: $input-font-size;
	outline: none;
	min-width: 175px;
	height: 20px;
	margin: 5px 5px 0 0;		
	
	&:hover {	background: #1d1d1d; }
	&:focus {	background: #262626; }	
}
@mixin overlay-text-field {
	@include base-text-field;
	color: $text-on-light;
	
	&:hover {	background: #ccc; }
	&:focus {	background: #ccc;	}
}

@mixin base-input-box {
	color: $text-faded-color;
  float: left;
	background: rgba(black, .7);
  height: 24px;
  border: 2px solid $text-faded-color;
  padding: 3px;

	&:hover {	border: 2px solid darken($text-color, 20); }
	&:focus {
		color: $text-color;
		border: 2px solid darken($text-color, 20);
	}
}
@mixin overlay-input-box {
	@include base-input-box;
}

@mixin base-form-input-box {
	@include border-radius($border-radius);
	border: 2px solid $text-faded-color;
	color: $text-color;
	height: 20px;
	width: 200px;
	background: rgba(black, .5);
	outline: none;
	padding-left: 3px;

	&:hover, &:focus {
		border: 2px solid $text-color;
	}
}
@mixin overlay-form-input-box {
	@include base-form-input-box;
	margin: 0px;
	color: $text-on-light;
	background: white;
	border: 2px solid #aaa;
	
	&:hover {	background: #fff; border: 2px solid #888;}
	&:focus {	background: #fff;	border: 2px solid #888;}
}

//control style: toggle
@mixin default-toggle-off {
	@include sprite-img("control-toggle.png", 1, 1, 78px, 25px);
	cursor: pointer;
	display: inline-block;
}
@mixin default-toggle-on {
	@include sprite-img("control-toggle.png", 1, 2, 78px, 25px);
	cursor: pointer;
	display: inline-block;	
}

//popout
@mixin popout($color: $inverted-object-bg-color) {
	@include box-shadow(rgba(black, .7), 0px, 2px, 6px, 0px);
	@include linear-gradient($color, darken($color, 15));
	@include border-radius($border-radius);
	padding: 0px 8px;
	
	ul {
		list-style-type: none !important;
		margin: 0px;
		padding: 0px;
		color: black;
	}
	
	li {
		padding: 6px 0 5px 6px !important;
	}
	
	a {
		@include single-text-shadow(rgba(white, .5), 0px, 1px, 0px);
	  color: $inverted-text-color !important;
		font-size: 12px !important;
		cursor: pointer !important;
		
		&:hover {
			color: $inverted-text-color !important;
			background: transparent !important;
		}
	}
}

//shapes
@mixin draw-circle() {
	@include border-radius(50%);
}

//misc
@mixin text-action(){
	opacity: .5;
	&:hover { opacity: 1; }
}
@mixin image-action(){
	opacity: .85;
	&:hover { opacity: 1; }
}

//box
@mixin generic-item(){
	@include border-radius($border-radius / 2);
	//background: rgba(white, .03);
	padding: 4px;
	margin: -4px;
	overflow: hidden;
	
	&:hover {	
		background: rgba(white, .06);	
		.content .actions { display: block; }
	}
}
@mixin roundedbox($w,$h,$c){
	@include border-radius($border-radius);   
	width:$w;
	height:$h;
	background-color:$c;
}
@mixin box($w,$h,$c) {
	width:$w;
	height:$h;
	background-color:$c; 
}

//basic linear gradient
@mixin linear-gradient($colora, $colorb){
	background-image: $colora;
 	background-image: -moz-linear-gradient($colora, $colorb); /* FF 3.6+ */  
	background-image: -ms-linear-gradient($colora, $colorb); /* IE10 */  
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $colora), color-stop(100%, $colorb)); /* Safari 4+, Chrome 2+ */  
	background-image: -webkit-linear-gradient($colora, $colorb); /* Safari 5.1+, Chrome 10+ */  
	background-image: -o-linear-gradient($colora, $colorb); /* Opera 11.10 */
	background-image: linear-gradient($colora, $colorb);
}
@mixin linear-gradient-important($colora, $colorb){
	background-image: $colora;
 	background-image: -moz-linear-gradient($colora, $colorb) !important; /* FF 3.6+ */  
	background-image: -ms-linear-gradient($colora, $colorb) !important; /* IE10 */  
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $colora), color-stop(100%, $colorb)) !important; /* Safari 4+, Chrome 2+ */  
	background-image: -webkit-linear-gradient($colora, $colorb) !important; /* Safari 5.1+, Chrome 10+ */  
	background-image: -o-linear-gradient($colora, $colorb) !important; /* Opera 11.10 */
	background-image: linear-gradient($colora, $colorb) !important;
}

//basic radial gradient
@mixin radial-gradient($colora, $colorb, $distance){
	background: $colora;
	background-image: -moz-radial-gradient(50% 50%, ellipse closest-side, $colora, $colorb $distance);
	background-image: -ms-radial-gradient(50% 50%, ellipse closest-side, $colora, $colorb $distance);
	background-image: -webkit-radial-gradient(50% 50%, ellipse closest-side, $colora, $colorb $distance);
	background-image: -o-radial-gradient(50% 50%, ellipse closest-side, $colora, $colorb $distance);
	background-image: radial-gradient(50% 50%, ellipse closest-side, $colora, $colorb $distance);
}