//collection of custom mixins and reusable styles

@import 'vars';

//oontrol styles
@mixin default-button {
	@include linear-gradient(#444444, #373737);
	@include box-shadow(rgba(black, .2), 0px, 2px, 3px);
	@include border-radius($detail-border-radius);
	border: none;
	padding: 4px 5px;	
	font-size: $default-button-font-size;
	color: $default-button-font-color;
	
	a {
		text-decoration: none;
	}
	
	&:hover {
		@include linear-gradient(#555, #444);
		text-decoration: none;
		cursor: pointer;
	}
}

@mixin default-button-nohref {
	@include linear-gradient(#393939, #313131);
	@include box-shadow(rgba(black, .2), 0px, 2px, 3px);
	@include border-radius($detail-border-radius);
	border: none;
	padding: 4px 5px;
	font-size: $default-button-font-size;
	color: $default-button-font-color;
	a {
		text-decoration: none;
	}
}

@mixin inverted-button {
	@include linear-gradient($inverted-button-color, darken($inverted-button-color, 15));
	@include box-shadow(rgba(black, .2), 0px, 2px, 3px);
	@include border-radius($detail-border-radius);
	@include text-shadow(rgba(white, .5), 0px, -1px, 0px);
	border: none;
	padding: 4px 5px;	
	font-size: $default-button-font-size;
	color: black;
	
	&:hover {
		@include linear-gradient(lighten($inverted-button-color, 15), $inverted-button-color);
		text-decoration: none;
		cursor: pointer;
	}
}

//shapes
@mixin draw-circle() {
	@include border-radius(50%);
}


//box
@mixin genericItem(){
	@include border-radius($border-radius / 2);
	//background: rgba(white, .03);
	padding: 4px;
	margin: -4px;
	overflow: hidden;
	
	&:hover {	
		background: rgba(white, .06);	
		.content .actions { display: block; }
	}
}
@mixin roundedbox($w,$h,$c){
	@include border-radius($border-radius);   
	width:$w;
	height:$h;
	background-color:$c;
}
@mixin box($w,$h,$c) {
	width:$w;
	height:$h;
	background-color:$c; 
}

//basic linear gradient
@mixin linear-gradient($colora, $colorb){
 	background-image: -moz-linear-gradient($colora, $colorb); /* FF 3.6+ */  
	background-image: -ms-linear-gradient($colora, $colorb); /* IE10 */  
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $colora), color-stop(100%, $colorb)); /* Safari 4+, Chrome 2+ */  
	background-image: -webkit-linear-gradient($colora, $colorb); /* Safari 5.1+, Chrome 10+ */  
	background-image: -o-linear-gradient($colora, $colorb); /* Opera 11.10 */
	background-image: linear-gradient($colora, $colorb);
}

@mixin linear-gradient-important($colora, $colorb){
 	background-image: -moz-linear-gradient($colora, $colorb) !important; /* FF 3.6+ */  
	background-image: -ms-linear-gradient($colora, $colorb) !important; /* IE10 */  
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $colora), color-stop(100%, $colorb)) !important; /* Safari 4+, Chrome 2+ */  
	background-image: -webkit-linear-gradient($colora, $colorb) !important; /* Safari 5.1+, Chrome 10+ */  
	background-image: -o-linear-gradient($colora, $colorb) !important; /* Opera 11.10 */
	background-image: linear-gradient($colora, $colorb) !important;
}