//contains global variables

//base
$page-width: 956px;
$page-footer-extension: 25px;
$base-footer-height: 223px;
$base-footer-content-width: 980px;
$base-content-clear: 25px;
$page-bg-fade-height: 150px;

//global colors
$main-bg-color: #c3c3c3;
$footer-bg-color: #676767;
$box-color: #1A1A1A;
$page-bg-color: #131313;
$line-color: #888;
$text-color: #a5a5a5;
$text-slight-faded-color: #888;
$text-faded-color: #555;
$artist-active-color: #f05126;
$fan-active-color: #ffc000;
$inverted-button-color: #ddd;
$live-bg-color: #222;

//misc
$columns: 14;
$container-size: 950px;
$margin: 2px;
$padding: 2px;
$border-radius: 6px;
$radius: 5px;
$size: .64em;
$font-size-minor: 12px;

//generic
$detail-border-radius: 4px;
$avatar-border-radius: 4px;

//controls
$default-button-font-color: #ccc;
$default-button-font-size: 14px;
$input-font-size: 14px;
$input-bg-color: #666;
$input-bg-active-color: #333;

//left
$left-usercontrol-item-height: 24px;

//right
$right-item-font-size: 15px;