$columns: 14;
$container-size: 950px;
$margin: 2px;
$padding:2px;
$border-radius:5px;
$radius:5px;
$page-width:948px;
$box-color: #1A1A1A;
$size: .64em;
$input-bg-color:#666;

@mixin rounded($radius: 5px){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin rounded-corner{ @include rounded($border-radius); }
@mixin roundedbox($w,$h,$c){@include rounded-corner;   width:$w;  height:$h;  background-color:$c;}
@mixin box($w,$h,$c){ width:$w; height:$h;  background-color:$c;}
html, body {
  padding: 0px;
  margin: 0px;
  font-family: arial, verdana, tahoma;
  font-size: 13px;  
  color:#B5B5B5; 
  background-color: #000;
  background-image:url('background.jpg');
}
img { 
  border: none; 
  vertical-align: middle;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
  &:hover { text-decoration: underline; }
}

strong{color:#F8F9F7;}
h1{font-size: 28px;  color: #000; }
h3,h2{color:#CCCCCC; font-size:20px; margin:0;}
.clear { 
  clear:both !important; 
  margin:     0px !important; 
  padding:    0px !important;
  width:      0px !important;
  height:     0px !important;
}

.center{ text-align:center;}
.right{float:right;}
.left{float:left;}
.hide{display:none;}
.show{display:block;}
.greentext{ 
  font-size:2*$size; color:#1AD327;
  a{ color:#1AD327;}
}
.redtext{}
.bluetext{}
.yellowtext{}
.album, .album_photo {
  float:left;
  padding: 5px;
}
.album_teaser_image{}
.album_name {}
.follow-img img{padding:2px;}
.edit-info{padding:10px;}
.post-threads-wrapper{
  border: 1.5px solid #303030;
  margin-bottom:5px;
  //background-color:#a9a9a9; 
  //padding:5px; 
  //margin:15px;
  .thread_expand, .thread_collapse{
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius:15px;
    background: none repeat scroll 0 0 #212121;
    margin-bottom: 5px;
    margin-left: 88px;
    padding: 4px;
    text-align: center;
    width: 185px;
  }
}
.thread_expand{
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius:15px;
  background: none repeat scroll 0 0 #212121;
  margin-bottom: 10px;
  padding: 4px;
  text-align: center;
  width: 185px;
}
#footer{
  .socialicons{
    margin-top:-50px;
    float:right;
  }
}
.site-logo{float:left;}
.loggedin-info{
  text-align:right;
  padding-right:10px;
  padding-top:12px;
  .user-info{
    font-size: 12px;
    font-size:15px;
  }
}
.mplayerbar{float:left;}
.new-alerts{background: none repeat scroll 0 0 #1b1b1b; padding-top:40px; padding-bottom:5px; font-weight:bold; font-size:14px;}
.album {
   width: 100%;
   background: #212121;
   margin: 3px;
  .album_info_wrapper{
    background: #4d4d4d; 
    .album_teaser_image{
      float: left;
    } 
    .album_info{
      .album_name {font-size:20px; float:left; padding-top:5px; padding-left:30px;}
      .album_controls{float:right;}
    }
  }
  .additional_info{
    .song_stats{font-size:14px; float:left; padding-left: 50px; padding-top:5px;}
    .thread_expand{
      -moz-border-radius: 10px 10px 10px 10px;
      border-radius: 10px;
      background: none repeat scroll 0 0 #4d4d4d;
      margin-bottom: 5px;
      margin-left: 88px;
      padding: 4px;
      text-align: center;
      width: 185px;
      float: right;
    }
  }
}