//contains links and persistant/reusable elements (logo, background, footer, etc)

@import 'compass/css3'; //compass css3 mixins
@import 'vars'; //global variables
@import 'mixins'; //custom mixins

//generic
.dimmed {opacity: .4;}

//misc
.radiolabel { 
  @include border-radius($border-radius); 
	margin: 3px 10px;
  padding: 5px 10px; 
  height: 30px;
  background: #4D4D4D;
  color: #000;
  border: none;
  font-weight: bold;
}
.circle {
  background: #fff; 
  width: 80px; 
  height: 80px;   
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

#contact_list {height:220px;overflow:auto;}
.recaptcha_theme_red #recaptcha_response_field {left:-4px;}

//
//main overlay
#facebox {
  color:#000;
  .shaded {color:#776B6B;}
  h2 {font-size:13px;color:#000;}
  h1 {font-size:2*$size;color:#000;}
  .fields { 
    label { 
      width:35%; 
      padding-top:4px; 
      float:left;  
      color:#000;
      text-align:right;
      font-size:1.8*$size;
    } 
    .textfield {
      width:200px; 
      float:left;  
      @include border-radius($border-radius); 
      border:solid #4D4D4D 2px; 
      padding:2px; 
      background:#323232; 
      color:#fff;  
      height:20px;
    }
    select {   
      width:200px; 
      float:left;  
      @include border-radius($border-radius); 
      border:solid #4D4D4D 2px; 
      padding:2px; 
      background:#323232; 
      color:#fff;  
      height:20px;
      option{ padding:2px; }
    }
  }
}
.age {font-size:2*$size;color:#fff;}
.fields {   
  label {
    padding-top:4px; 
    float:left; 
    width:200px; 
    color:#fff; 
    text-align:right; 
    font-size:2*$size;
  }
  .textfield { 
    @include border-radius($border-radius);
    border:solid #4D4D4D 2px;
    padding:2px; 
    background:#323232; 
    color:#fff; 
    margin:3px 0 0 20px;
    height:20px;
  }
  select {  
    width:227px; 
    @include border-radius($border-radius); 
    border:solid #4D4D4D 2px; 
    background:#323232; 
    color:#fff; 
    margin:3px 0 0 20px;  
    height:25px;
    option{ padding:2px;}
  }
}
.error_messages {
  margin:0 auto;
  width: 450px;
  border: 2px solid #E84067;
  padding-bottom: 0;
  @include border-radius($border-radius); 
  h2 {
    text-align: left; 
    padding: 5px 5px 5px 15px; 
    font-size: 12px; 
    margin: 0px; 
    background: #E84067; 
    color: #000; 
  }
}
ul { 
  font-size: 12px; 
  list-style: disc;
  margin:0; 
  padding:10px;
  li { margin:2px 10px; color:#E84067;}
}

//
//main, base, page content
#base-container {
	background: $main-bg-color;
}
#page-container {
	background: url(base-bg.jpg) center -100px no-repeat;
	width: 100%;
}
#page {
	@include border-radius(0px 0px $border-radius $border-radius);
	@include box-shadow(rgba(black, .3), 0px, 1px, 6px);
	background: $page-bg-color;
  margin: 0 auto;
	width: $page-width;
	position: relative;

	//
	//header
  #header {
		@include box-shadow(rgba(black, .3), 0px, 3px, 5px, 0px);
    position: fixed;
    margin: 0 auto; 
    height: 153px;
    z-index: 999;
    width: $page-width;
    top: 0px;
		background: url(base-page-bg-shaded-flipped.jpg);
		border-bottom: 1px solid rgba(white, .15);
			
		> div {
			width: 100%;
			overflow: hidden;
		}
	
		//logo and session
		.top-bar {
			height: 53px;
			
			.site-logo { float: left; }
			.session {
				float: right;
				margin: 20px $base-content-clear 0 0;
				
				#logout {
					@include inverted-button;
					padding: 4px 8px;
					margin-left: 3px;
				}
			}
		}
			
		//player and notifications
		.middle-bar {
			margin-top: 5px; 
			.mplayerbar {
				display: block;
				float: left;
				.jp-title {display: none;}
			}
			.notifications {
				margin: 8px ($base-content-clear - 2px) 8px 0;
				float: right;
				
				> div {
					float: left;
					height: 50px;
					width: 50px;
					text-align: center;
					font-size: 10px;
					
					> a {
						@include inverted-button;
						@include draw-circle;
						margin: 0px auto 6px auto;
						display: block;
						padding-top: 6px;
						text-align: center;
						width: 14px;
						height: 14px;
						font-size: 12px;
					}
				}				
			}
		}
		
		//menu and search
		.bottom-bar {
			.menu {
				display: none;
        width:59%;
        float:left;
        ul {
         	list-style:none;
					
					li {
						@include border-radius($border-radius);
						float:left;
						margin:5px;
						padding:5px;
						background:#515151;
						
						a {
						  color:#D1D1D1; 
						  text-decoration:none; 
						  font-weight:bold;
						  font-size:16px;
						}
					}
        }
      }
      .search {
        text-align: right;
				margin-right: $base-content-clear;
        float: right;

        .search-input {
			    @include border-radius($border-radius $border-radius 0 0);
					background: rgba(black, .5);
					border: 1px solid rgba(white, .2);
					border-bottom: 1px solid $live-bg-color;
					outline: none;
					height: 18px;
					width: 230px;
          color: $text-faded-color;
          font-weight:bold;
          font-size:16px;
          padding:5px;
        }
		  }
		}
  }

	//
	//page content
  #content {
    padding-top: 162px;
    min-height: 300px;

		//primary content area
    .primary {
			background: url(base-page-bg-shaded.jpg) top center no-repeat;
			border-top: 1px solid rgba(white, .15);
			margin-top: 8px;
			display: block;
			overflow: hidden;
    }
  }

	//
	//registartion form
  .registrationform{
    margin: 0 auto;
    color: $input-bg-color;
    .fields {
      label { 
        padding-top:4px;
        float:left;
        width:40%;
        color:#fff;
        text-align:right;
        font-size:2*$size; 
      }
      .textfield {   
        @include border-radius($border-radius); 
        border:solid #4D4D4D 2px;
        padding:2px;
        background:#323232;
        color:#fff;
        margin:3px 10px;
        height:20px;
        width:350px;
      }
      .actions { padding-left:70%; }
    }
  }
}

.users_header, .bands_header {background:none repeat scroll 0 0 #EF502F; padding:5px; min-height:20px; margin-top:5px;}
#results {
  color: #fff;
  .row {
    min-height: 98px;
    padding: 10px;
    border-bottom: 1px solid #cfcfcf;
    &:last-child { border: none; }
    img { border: solid 1px #cecece; float: left; }
    .action { float: right; }
    .info {
      color: #666;
      width: 610px;
      font-size: 1.6em;
      float: left;
      margin-left: 10px;
      h3 {
        color: #fff;
        margin: 0px;
        display: inline;
      }
      .verified {
        //button-border-radius(certified.png) no-repeat left center transparent;
        color: #6c6c6c;
        font-size: 0.8em;
        height: 22px;
        line-height: 22px;
        padding-left: 25px;
        margin-top: 6px;
      }
    }
  }
}

//
//footer
#footer { 
  background-image: url(base-footer-bg-repeat.jpg);
	margin-top: -$page-footer-extension;
	
	> div {
		background-image: url(base-footer-bg.jpg);
		width: $base-footer-content-width;
	  height: $base-footer-height;
		margin: auto;
	}
	
	a {
		margin: 57px 18px 0px 17px;
		text-align: center;
		float: left;
		width: 210px;
		height: 150px;		
		
		img {
			margin: auto;
		}
	}
}