//contains links and persistant/reusable elements (logo, background, footer, etc)

@import 'compass/utilities/sprites/sprite-img';
@import 'compass/css3'; //compass css3 mixins
@import 'mixins'; //custom mixins
@import 'vars'; //global variables

//
//main, base, page content
#base-container {
  background: $main-bg-color;
}
#page-container {
  background: url(base-bg.jpg) center 0px no-repeat;
	background-attachment: fixed;
  width: 100%;
}

//top background fade, in page container
#page-top-fade {
	@include linear-gradient($main-bg-color 50%, rgba($main-bg-color, 0));
	position: fixed;
	width: 100%;
	height: $page-bg-fade-height;
	z-index: 60;
}
//bottom background fade, in footer
#page-bottom-fade {
	@include linear-gradient(rgba($main-bg-color, 0), $main-bg-color);
	height: $page-bg-fade-height;
}

#page {
  margin: 0 auto;
  width: $page-width;
  position: relative;

	//
	//splash-header
	.splash-header {
		background: url(base-page-bg-shaded-flipped.jpg) !important;
		
		h2 {
			@include single-text-shadow(rgba(black, 1), 0px, 2px, 5px);
			color: $text-highlight-color;
		}
	}
	
  //
  //active header	
  #page-header {
		@include border-radius(0 0 $border-radius $border-radius);
    @include box-shadow(rgba(black, .3), 0px, 3px, 5px, 0px);
    position: fixed;
    margin: 0 auto;
    z-index: 999;
    width: $page-width;
    top: 0px;
		background: url(base-page-bg-shaded-flipped.jpg) center -140px;
    border-bottom: 1px solid rgba(white, .15);

    > div {
      width: 100%;
      overflow: hidden;
    }

    //logo, notifications and session
    .top-bar {
      height: 52px;

      .site-logo { float: left; width:400px; }
      .session {
				height: 32px;
        float: right;
				padding-right: $base-content-clear;
				padding-top: 12px;
				
				> a, div {
					display: inline-block;
				}
				
				//summary, welcome note
				.summary {
					position: relative;
					bottom: 7px;
				}

				//replies, mentions and messages
        .notifications {
					> a {
						width: 32px;
						height: 32px;
						display: inline-block;
						position: relative;
						
						span {
							@include border-radius(0 0 4px 0);							
							height: 10px;
							width: 11px;
							background: gray;
							position: absolute;
							right: 1px;
							bottom: 1px;
							font-size: 9px;
							color: black;
							text-align: center;
							border-top: 1px solid rgba(black, .3);
							border-left: 1px solid rgba(black, .3);
						}
						.active {
							background: $highlight-color;
						}
					}	
					#replies {
						@include sprite-img("sprites-32.png", 2, 3);
					}
					#mentions {
						@include sprite-img("sprites-32.png", 1, 3);
					}
					#messages {
						@include sprite-img("sprites-32.png", 3, 3);
					}
				}
				
				//logout
				#logout {
          @include inverted-button;
          padding: 4px 8px 3px 8px;
          margin-left: 4px;
        }
				#switch {
					//@include inverted-button-dark;
					@include inverted-button;
					//@include border-radius($border-radius/2 0 0 $border-radius/2);
          padding: 4px 8px 3px 8px;
          margin-left: 4px;
				}
      }
    }

    //player and search
    .bottom-bar {
			background: rgba(white, .1);
			margin-top: -2px;
			height: 60px;
			overflow: hidden;

      .music-player {
				width: ($page-width * .75) - 25;
        display: block;
        float: left;
				margin-left: $base-content-clear;
        
				//controls
				.jp-gui { width: 250px; }
				.jp-controls {
					width: 250px;
					> * {
						padding: 0px;
						display: inline-block;
					}
					.jp-pre, .jp-next { 
						width: 32px;
						height: 32px;
					}
					.jp-pre { @include sprite-img("sprites-32.png", 1, 2); margin-bottom: 3px; }
					.jp-next { @include sprite-img("sprites-32.png", 2, 2); margin-bottom: 3px; }
					.play-pause, .jp-play, .jp-pause {
						width: 40px;
						height: 40px;
					}
					.jp-play, .jp-pause { display: block; }
					.jp-play { @include sprite-img("sprites-40.png", 1, 1, 40px, 40px)}
					.jp-pause { @include sprite-img("sprites-40.png", 2, 1, 40px, 40px)}					
				}
				.jp-volume-bar {
					margin: 0 0 9px 15px;
				}
				
				//main info section	
				.info {
					@include border-radius($border-radius);
					position: relative;
					width: 400px;
					height: 44px;
					margin-top: 8px;
					background: rgba(black, .4);
					text-align: center;					
					float: left;
					
					//album art
					img {
						position: absolute;
						left: 10px;
						top: -2px;
						width: 50px;
						height: 50px;
					}
					
					//titles
					.song-title { 
						color: white; 
						margin: -1px 0 -6px 0;
						font-weight: normal;
						font-size: 15px;
						display: block;
					}
					.artist-title {
						color: $text-color;
						font-size: 11px;
						display: block;
					}
					
					//jogger
					.jp-progress {
						margin: 0px;
						display: block;
						width: 250px;
						padding: 0;
						margin: 1px auto;
					}
					
					//playlist, like
					.jp-additional {
						position: absolute;
						right: 5px;
						top: 10px;
					}
				}
      }

	    #search {
				display: block;
	      float: right;
				margin: 16px $base-content-clear 0 0;		

	      > input {
					@include border-radius($border-radius);
		    	width: 200px;
					height: 20px;
					padding: 4px 0 0 5px;					
	        color: $text-faded-color;
	        font-size:14px;
					background: rgba(black, .3);
	        border: solid 1px $text-faded-color;
					outline: none;
					
					&:hover, &:focus {
						color: $text-color;
						border: solid 1px $text-color;
					}
	      }
      }
    }
  }

  //
  //page content
  #page-content {
    padding-top: 111px;
    min-height: 300px;
		z-index: 49;

    //primary content area
		.primary-container {
			@include border-radius($border-radius);
		  @include box-shadow(rgba(black, .3), 0px, 1px, 6px);
		  background: $page-bg-color;
			
			.primary {
				@include border-radius($border-radius $border-radius 0 0);				
				background: url(base-page-bg-shaded.jpg) top center no-repeat;
	      border-top: 1px solid rgba(white, .15);
	      display: block;
	      overflow: auto;
	    }
		}
  }

  //
  //registartion form
  .registrationform{
    margin: 0 auto;
    color: $input-bg-color;
    .fields {
      label {
        padding-top:4px;
        float:left;
        width:40%;
        color:#fff;
        text-align:right;
        font-size:2*$size;
      }
      .textfield {
        @include border-radius($border-radius);
        border:solid #4D4D4D 2px;
        padding:2px;
        background:#323232;
        color:#fff;
        margin:3px 10px;
        height:20px;
        width:350px;
      }
      .actions { padding-left:70%; }
    }
  }
}

//
//search results
.users_header, .bands_header {background:none repeat scroll 0 0 #EF502F; padding:5px; min-height:20px; margin-top:5px;}
#results {
  color: #fff;
  .row {
    min-height: 98px;
    padding: 10px;
    border-bottom: 1px solid #cfcfcf;
    &:last-child { border: none; }
    img { border: solid 1px #cecece; float: left;height:60px;width:60px; }
    .action { float: right; }
    .info {
      color: #666;
      width: 610px;
      font-size: 1.6em;
      float: left;
      margin-left: 10px;
      h3 {
        color: #fff;
        margin: 0px;
        display: inline;
      }
      .verified {
        //button-border-radius(certified.png) no-repeat left center transparent;
        color: #6c6c6c;
        font-size: 0.8em;
        height: 22px;
        line-height: 22px;
        padding-left: 25px;
        margin-top: 6px;
      }
    }
  }
}

//
//main overlay
#facebox {
  color:#000;
  .shaded {color:#776B6B;}
  h2 {font-size:13px;color:#000;}
  h1 {font-size:2*$size;color:#000;}
  .fields {
    label {
      width:35%;
      padding-top:4px;
      float:left;
      color:#000;
      text-align:right;
      font-size:1.8*$size;
    }
    .textfield {
      width:200px;
      float:left;
      @include border-radius($border-radius);
      border:solid #4D4D4D 2px;
      padding:2px;
      background:#323232;
      color:#fff;
      height:20px;
    }
    select {
      width:200px;
      float:left;
      @include border-radius($border-radius);
      border:solid #4D4D4D 2px;
      padding:2px;
      background:#323232;
      color:#fff;
      height:20px;
      option{ padding:2px; }
    }
  }
}
.age {font-size:2*$size;color:#fff;}
.fields {   
  label {
    padding-top:4px;
    float:left;
    width:200px;
    color:#fff;
    text-align:right;
    font-size:2*$size;
  }
  .textfield {
    @include border-radius($border-radius);
    border:solid #4D4D4D 2px;
    padding:2px;
    background:#323232;
    color:#fff;
    margin:3px 0 0 20px;
    height:20px;
  }
  select {
    width:227px;
    @include border-radius($border-radius);
    border:solid #4D4D4D 2px;
    background:#323232;
    color:#fff;
    margin:3px 0 0 20px;
    height:25px;
    option{ padding:2px;}
  }
}
.error_messages {
  margin:0 auto;
  width: 450px;
  border: 2px solid #E84067;
  padding-bottom: 0;
  @include border-radius($border-radius);
  h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0px;
    background: #E84067;
    color: #000;
  }
}
ul { 
  font-size: 12px;
  list-style: disc;
  margin:0;
  padding:10px;
  li { margin:2px 10px; color:#E84067;}
}

//
//footer
#footer { 
  margin-top: -($page-footer-extension + $page-bg-fade-height);

  .content {
	  background-image: url(base-footer-bg-repeat.jpg);
	
		> div {
			background-image: url(base-footer-bg.jpg);
	    width: $base-footer-content-width;
	    height: $base-footer-height;
	    margin: auto;

			a {
		    margin: 57px 18px 0px 17px;
		    text-align: center;
		    float: left;
		    width: 210px;
		    height: 150px;

		    img {
		      margin: auto;
		    }
		  }
		}
  }
}

//generic
.dimmed {opacity: .4;}

//misc
.radiolabel { 
  @include border-radius($border-radius);
  margin: 3px 10px;
  padding: 5px 10px;
  height: 30px;
  background: #4D4D4D;
  color: #000;
  border: none;
  font-weight: bold;
}
.circle {
  background: #fff;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.new_border{-moz-border-radius:10px 10px 0px 0px !important;
  -webkit-border-radius:10px 10px 10px 10px !important;
  -o-border-radius:10px 10px 10px 10px !important;
  border-radius:10px 10px 0px 0px !important;
}

#contact_list {height:220px;overflow:auto;}
.recaptcha_theme_red #recaptcha_response_field {left:-4px;}