//sidebar

@import 'compass/css3';
@import 'mixins';
@import 'vars';

.primary .right {
	@include box-shadow(rgba(black, .3), -3px, 0px, 5px);
	padding: 25px $base-content-clear 0 8px;
	background: rgba(white, .05);
	border-left: 1px solid rgba(white, .1);
	height: 100%;
	min-height: 550px;
	float: right;
	position: relative;
	
	.items {
		position: relative;
		z-index: 11;
		
		> div, a {
			margin-bottom: 8px;
		}
	
		//selection
		.selection-box {
			@include default-button;
			padding: 15px 0px 5px 8px;
			width: $right-button-width;
			clear: both;
			display: block ;
			font-size: $right-item-font-size;
			
			&:hover {
				text-decoration: none;
			}
			
		  .small-font{
		    font-size: 10px;
		  }
		  .count {
		    color: white;
				font-weight: bold; 
				font-style: italic;
		  }			
		}
		
		//active
		> .active {
			@include single-text-shadow(rgba(white, .5), 0px, 1px, 0px);
			border: none;
			color: black;
			
			.count {
				color: black;
			}
		}
		
	  //collection
		.collection {
			@include border-radius(0 0 $detail-border-radius $detail-border-radius);
			background: rgba(white, .03);
			padding: 8px 0 8px 8px;
			width: $right-button-width;
		  text-align: left;
		  color: #a7a7a7;
			margin-top: -8px;
			overflow: hidden;
		
			//none messaging
			.message {
				text-align: center;
				font-style: italic;
				padding: 10px 8px 10px 0;
				color: $text-faded-color;
			}
		
		  .album-cover-image {
		    padding: 2px;
		  }
		  .song-album {
		     border-bottom: 0.5px solid #303030;
		     margin-bottom: 2px;
		  }
		  .avatar {
		    float: left;
				padding: 0px 5px 0px 0px;
        margin-top: 2px;

        img	{
					@include border-radius($border-radius / 2);
					width: 42px;
					height: 42px;
					border: 0;						
					outline: none;
				}
		  }
		}
	
	  long-list { padding-top: 5px}
		
		//albums
	  .album {
	    margin: 5px 2px;
	    background: #363636;
	    .album_teaser_image {
	      width: 80px;
	      height: 80px; 
	      img {
					margin-top: 10px;
					width: 60px;
					height: 60px;
				}
	      float: left;
	    }
	
	    .album_name {
	      margin: 10px 0 0 65px;
	      width: 160px;
	      text-align: center;
	    }
	
	    a {
	      color: #fff;
	      line-height: 20px;
	      background: none;
	      display: block;
	      text-decoration: none;
	      &:hover{ 
					color: #fafafa; 
					background: none; 
				}
	      &.selected{ 
					color: #fafafa; 
					background: none; 
				}
	    }
	  }

	  #right_albumbox{
			background: #4D4D4D;
		}

		//fans
	  .top_fans{
	    background: #4D4D4D;
	    a {
	      color: #fff;
	      line-height: 20px;
	      background: none;
	      display: inline-block;
	      text-decoration: none;
	      &:hover {
					color: #fafafa;
					background: none;
				}
	      &.selected{
					color: #fafafa;
					background: none;
				}
	      img{
					width: 60px;
					height: 60px;
					border: 0;
					margin: 2px;
				}
	    }
	  }
	}
		
	//misc
	.divider {
		background: url(sprites-v.png) top center no-repeat;
		width: 100%;
		height: 24px;
		display: block;
	}
	.fader {
		@include linear-gradient(rgba($page-bg-color, 0), rgba($page-bg-color, 1));
		position: absolute;
		bottom: 0px;
		width: 101%;
		margin-left: -12px;
		z-index: 10;
		height: 200px;
	}
		
  .righttopbox{@include box(100%,200px,#4d4d4d); margin:15px 0;}
  .sendmsg{
    @include box(90%,"",#37120B);
    padding:5%;
    font-size:$size*2;
  }
}