//news feed, status updates, posts and other content pages

@import 'compass/utilities/sprites/sprite-img';
@import 'compass/css3';
@import 'mixins';
@import 'vars';

.primary .left {
	padding: 25px 8px 0 $base-content-clear;
  width: 630px;

	//
	//status update form
	.status-input {  
		@include border-radius($border-radius);
	  margin: 0 auto;
	
	  .input-box {
	    color: $text-faded-color;
	    float: left;
	  	background: rgba(black, .7);
	    height: 24px;
	    border: 2px solid $text-faded-color;
	    padding: 3px;
	
			&:hover {
				border: 2px solid darken($text-color, 20);
			}
			&:focus {
				color: $text-color;
				border: 2px solid darken($text-color, 20);
			}			
	  }
	  .post-btn {
	    @include default-button;
			float:right;
			margin: 4px 0 0 0;
			height: 24px;
			opacity: .5;
	  }
	  .inputerror {
			color: #2A0D17;
			font-size: 11px;
		}
	}
	
	//
	//header controls
	.social-menu {
		overflow: hidden; 
		margin: 16px 0;
		
		
		a {
			@include default-button;
			display: block;
			float: left;
			margin-right: 5px;
		}
		
		#messages {
			float: right;
			margin-right: 0px;
		}
		
		//active
		> .active {
			@include single-text-shadow(rgba(white, .5), 0px, 1px, 0px);
			border: none;
			color: black;
		}
	}
	
	//
	//controls
	.messageicon {
    margin:40px 0 0 -64px;
    background:#48260E;
    width:80px;
    float:left;
    text-align:center;
    font-weight:bold;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
  }

	//
	//date
  date {
		display: block;
		background: url(base-feed-date.png);
		position: absolute;
    margin: 39px 0 20px -60px;
    width: 76px;
		height: 28px;
    float: left;
    text-align: right;
		color: $text-faded-color;
    font-weight: bold;
		&:first-of-type { 
			margin-top: 28px;
		}
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);

		> div {
			margin: 6px 4px 0 0;
		}


		h1, h2 {
			display: inline;
			font-family: Arial;
			text-transform: uppercase;
		}		
		h1 {
			font-size: 15px;
			font-weight: bold;			
		}
		h2 {
			font-size: 22px;
		}
  }

	//
	//post
  .post {  
		padding-bottom: 15px;
    border-bottom: 1px dashed rgba(white, .1);
		&:not(:first-of-type) { padding-top: 15px; }   		
		
		> div {
			@include border-radius($border-radius / 2);
			//background: rgba(white, .03);
			padding: 4px;
			margin: -4px;
			
			&:hover {	background: rgba(white, .06);	}
		}
    .firstpost{
      background:green;
      }
    .lastpost{
      background:grey;
      }
    .avatar {
      float: left; 

      img { 
				@include border-radius($border-radius / 2);
				width: 50px; 
				height: 50px; 
			}
    }

		.content {
			padding: 0px; 
			margin-left: 4px;
			float: left;
			width: 571px;
		
			//post title and actions
			.post-header {
				width: 100%;
				font-size: 13px;
				overflow: hidden;
				
				.title {
					float: left;
					strong {
						color: white;
					}
				}
				.actions {
					float: right; 

					span { color: $text-faded-color; }
					&:hover { 
						span { color: $text-color; }
						i { opacity: 1; }
					}
					
					i { width: 16px; height: 16px; opacity: .5; margin: -3px 0; }
					
					//actions
					.action-reply {
						i {	@include sprite-img("sprites-16.png", 1, 1, 16px, 16px); }						
					}
					.action-repost {
						i {	@include sprite-img("sprites-16.png", 2, 1, 16px, 16px); }						
					}
					.action-delete {
						i {	@include sprite-img("sprites-16.png", 3, 1, 16px, 16px); }
					}
				}
			}
			.post-body {
				margin-top: 2px;
				font-size: 11px;
			}
		}

    .righticons{ 
			display: none;
			float: right;
			width: 20%;
			text-align: right;
    }
  }

	//post toggle thread button
	.toggle-thread {
		@include default-button();
		display: inline-block;
		margin: 10px 0 0 0;
		a { color: $text-color; }		
	}

  .content-mentioned {
    margin-left: 52px;
    padding: 5px;
    background: #DC143C;
    .itemcontent{ width:80%; float:left}
    .righticons{ float:right;width:20%;text-align:right; }
  }

	//bulletin posts
	.bulletin-posts {}
	
	//read more button
  .readmore {
    margin: 30px auto 20px auto;
    text-align: center;
    a {
			@include default-button;
			padding: 4px 30px;
			opacity: .4;
      text-decoration: none;
    }
  }
}