//news feed, status updates, posts and other content pages

@import 'compass/css3';
@import 'mixins';
@import 'vars';

.primary .left {
	padding: 25px 8px 0 $base-content-clear;
  width: 630px;
	float: left;
	
	//top area
	> .top {
		margin: (-$base-content-clear) -17px 25px (-$base-content-clear);
		padding: $base-content-clear 17px 0px $base-content-clear;
		background: rgba(black, .3);
		border-bottom: 1px solid rgba(white, .1); 		
	}

	//
	//status update form
	.status-input {  
		@include border-radius($border-radius);
	  margin: 0 auto;
	
	  .input-box {
	    color: $text-faded-color;
	    float: left;
	  	background: rgba(black, .7);
	    height: 24px;
	    border: 2px solid $text-faded-color;
	    padding: 3px;
	
			&:hover {
				border: 2px solid darken($text-color, 20);
			}
			&:focus {
				color: $text-color;
				border: 2px solid darken($text-color, 20);
			}			
	  }
	  .post-btn {
	    @include default-button;
			float:right;
			margin: 4px 0 0 0;
			height: 24px;
			opacity: .5;
	  }
	  .inputerror {
			color: #2A0D17;
			font-size: 11px;
		}
	}
	
	//
	//social header controls
	.social-menu {
		overflow: hidden; 
		margin: 16px 0;
		margin-bottom: -5px;
		
		a {
			@include default-button;
			display: block;
			float: left;
			margin-right: 5px;
		}
		
		#messages {
			float: right;
			margin-right: 0px;
		}
		
		//active
		> .active {
			@include single-text-shadow(rgba(white, .5), 0px, 1px, 0px);
			border: none;
			color: black;
		}
	}
	
	//
	//other controls
	.messageicon {
    margin:40px 0 0 -64px;
    background:#48260E;
    width:80px;
    float:left;
    text-align:center;
    font-weight:bold;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
  }

	//
	//users
	.avatar {
    float: left; 

    img { 
			@include border-radius($border-radius / 2);
			width: 50px; 
			height: 50px; 
		}
  }

	//
	//posts
  .post {  
		position: relative;
		padding-bottom: 15px;
    &:not(:last-child) { border-bottom: 1px dashed rgba(white, .1); }
		&:not(:first-of-type) { padding-top: 15px; }
		
		> div {
			@include genericItem();
		}
		
		.first-post {
			.title span:before {
				content: "first ";
			}
		}

		.content {
			padding: 0px; 
			margin-left: 4px;
			float: left;
			width: 566px;
		
			//post title and actions
			.post-header {
				width: 100%;
				font-size: 13px;
				overflow: hidden;
				
				.title {
					float: left;
					strong {
						color: white;
					}
				}
				.actions {
					display: none;
					position: absolute;
					right: 0;

					span { color: $text-faded-color; }
					a {
						margin-left: 5px;
						
						&:hover { 
							span { color: $text-color; }
							i { opacity: 1; }
						}
					}
					
					i { width: 16px; height: 16px; opacity: .5; margin: -3px -1px; }
					}	
				}
			}
			.post-body {
				margin-top: 2px;
				font-size: 11px;
			}
		}

    .righticons{ 
			display: none;
			float: right;
			width: 20%;
			text-align: right;
    }
  }
	date {
		display: block;
		background: url(base-feed-date.png);
		position: absolute;
    margin: 39px 0 20px -60px;
    width: 76px;
		height: 28px;
    float: left;
    text-align: right;
		color: $text-faded-color;
    font-weight: bold;
		&:first-of-type { 
			margin-top: 28px;
		}
		@include rotate(270deg);

		> div {
			margin: 6px 4px 0 0;
		}


		h1, h2 {
			display: inline;
			font-family: Arial;
			text-transform: uppercase;
		}		
		h1 {
			font-size: 15px;
			font-weight: bold;			
		}
		h2 {
			font-size: 22px;
		}
  }
	#pin-board {
		div {
			margin-top: 12px;
		}
	}
	
	//thread
	.post-thread {
		margin: 15px 0 0 12px;
	}
	
	//post toggle thread button
	.toggle-thread {
		@include default-button();
		display: inline-block;
		margin: 10px 0 0 0;
		a { color: $text-color; }		
	}

  .content-mentioned {
    margin-left: 52px;
    padding: 5px;
    background: #DC143C;
    .itemcontent{ width:80%; float:left}
    .righticons{ float:right;width:20%;text-align:right; }
  }

	//pinned
	.pinned-posts {}
	
	//read more button
  .read-more {
    margin: 30px auto 20px auto;
    text-align: center;
    a {
			@include default-button;
			padding: 4px 30px;
			opacity: .4;
      text-decoration: none;
    }
  }

	//
	//collections
	.item {
		@include genericItem();
		margin-bottom: 10px;
		display: block;
		
		//profile photo
		.photo {
			float: left;
			
			img { 
				@include border-radius($border-radius / 2);
				width: 100px; 
				height: 100px; 
			}
		}
		
		//name, description
		h4 { margin: 0px; }
		.content {
			display: inline-block;
			margin: 15px 0 0 6px;
			
			> span {
				display: block;
			}
		}
		
		//unfollow, etc
		.actions { 
			float: right;
			display: block;
			margin-top: 16px;
			
			a {	@include inverted-button();	}
		}
	}
	
	//
	//content areas
	.area {
		@include border-radius($border-radius / 2);
		background: $content-box-color;
		margin-bottom: 15px;
		position: relative;
	}
	
	//artist content areas
	.artist-content { 
		width: 100%; 
		position: relative;
		
		.top {
			@include border-radius($border-radius $border-radius 0 0);
			background: $content-header-color;
			height: 50px;
			
			.cover {
				position: absolute;
				left: 10px;
				top: -6px;
				
				.cover-anchor img {
					width: 64px;
					height: 64px;
				}
				.edit {
					position: absolute;
					bottom: 0px;
					text-align: center;
					background: rgba(black, .50);
					width: 100%;
				}
			}
			.info {
				position: absolute;
				left: 80px;
				top: 5px;
				
				h2, h4 { margin: 0px; }
			}
			
			.artist-content-actions {
				position: absolute;
				right: 5px;
				top: 5px;
			}
		}
		
		.bottom {
			@include border-radius(0 0 $border-radius $border-radius);
			background: $content-box-color;
			position: relative;
			min-height: 42px;
			
			.details { 
				position: absolute;
				left: 10px;
				top: 0px;
			}
			.controls {
				position: absolute;
				right: 80px;
				top: 14px;
			}
			.toggle {
				position: absolute;
				right: 10px;
				top: 0px;
			}
		}
	}
	
	.artist-content-actions {
		a {
			display: inline-block;
			width: 48px;
			text-align: center;
			height: 40px;
			font-size: 11px;
			opacity: .75;
			
			&:hover { opacity: 1; }
		}
		div {
			width: 24px;
			margin: 0 auto 3px auto;
		}
	}
	
	.song {
		@include border-radius($border-radius/2);
		padding: 4px 5px;
		overflow: hidden;
		margin-top: 5px;
		width: 100%;
		
		> div {
			float: left;
			height: 24px;
			vertical-align: middle;
			margin: 5px 0px 0px 10px; 
		}
		
		.title {
			font-size: 14px;
		}
		
		.artist-content-actions-sm {
			float: right; 
			
			a {
				opacity: .8;
				&:hover { opacity: 1; }
			}
			
			div {
				display: inline-block;
			}
			
			.text-actions {
				position: relative;
				top: -4px;
				margin-right: 4px;
			}
		}
		
		i {
			float: left;
			width: 24px;
			height: 24px;
		}
	}
	
	
	//
	//forms
	.form {
		position: relative;
		
		//info area
		.msg {
			color: $fan-active-color;
			position: absolute;
			bottom: 20px;
			font-size: 10px;
			font-family: Verdana;
			width: 230px;
			left: 30px;
			text-align: right;
		}
		.details {
			position: absolute;
			left: 30px;
			top: 22px;
			width: 230px;
			text-align: right;
			
			h3 { margin: 0px; }
			h5 { margin: 2px 0 0 0;	}
			span { color: white; }
		}
		
		//form
		.content {
			right: 0px;
			width: 56%;
			background: $content-highlight-color;
			@include border-radius(0 $border-radius / 2 $border-radius / 2 0);
			margin-left: 44%;
			padding: 18px 0 30px 0;
      
      .lock-toggle {
					@include sprite-img("sprites-48.png", 1, 1, 48px, 48px);
					position: absolute;
					right: 17px;
					top: 26px;
					cursor: pointer;
				}
				.lock-toggle-open {
					@extend .lock-toggle;
					@include sprite-img("sprites-48.png", 2, 1, 48px, 48px);
					cursor: auto;
				}
			
			> form {
				margin: 0 0 0 15px;
				
				.lock-toggle {
					@include sprite-img("sprites-48.png", 1, 1, 48px, 48px);
					position: absolute;
					right: 17px;
					top: 26px;
					cursor: pointer;
				}
				.lock-toggle-open {
					@extend .lock-toggle;
					@include sprite-img("sprites-48.png", 2, 1, 48px, 48px);					
					cursor: auto;					
				}
			}

			.field {
				width: 95%;
				margin-top: 3px;
				min-height: 20px;
				
				label {
					display: inline-block;
					width: 60px;
					text-align: right; 
					margin-right: 2px;
				}
				select {
					height: 20px;
				}
				input, textarea {
					@include border-radius($border-radius);
					border: 2px solid $text-faded-color;
					color: $text-color;
					height: 20px;
					width: 200px;
					background: rgba(black, .5);
					outline: none;

					&:hover, &:focus {
						border: 2px solid $text-color;
					}
				}
				.input-disabled {
					opacity: .5;
				}
				.long {
					width: 244px;
				}
			}
			
			.button {
				@include inverted-button();
				position: absolute;
				right: 20px;
				bottom: -6px;
			}
		}
	}