//follow
@import 'compass/css3';
@import 'vars';
@import 'base';

.followuserbox{  
  width:100%;
  margin:10px auto; 
  .avatar{
		@include border-radius($border-radius);
    float:left;
    img{
      width:50px; 
      height:50px; 
      margin:1px;
    }
  }
  .fusercontent{
    min-height:45px;     
    margin-left:57px;
    padding:5px;
    .itemcontent{width:100%; float:left}
    a{color:#a7a7a7;}
    border-bottom: 1.5px solid #303030;
  }
}