// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$columns: 14;
$container-size: 950px;
$margin: 2px;
$padding:2px;
$border-radius:5px;
$page-width:70%;
$box-color: #1A1A1A;
$size: .64em;
$input-bg-color:#666;
@mixin rounded($radius){  
                          -moz-border-radius: $border-radius;
                          -webkit-border-radius: $radius;
                           border-radius: $radius;;
                        }

@mixin rounded-corner{ @include rounded($border-radius); }
@mixin roundedbox($w,$h,$c){@include rounded-corner;   width:$w;  height:$h;  background-color:$c;}


@mixin box($w,$h,$c){ width:$w; height:$h;  background-color:$c;}

 body { margin: 0;  padding: 0;   background-color: #000;   font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;  color:#B5B5B5; 
      }
 h1{font-size: 28px;  color: #000; }
 h3,h2{color:#CCCCCC; font-size:20px; margin:0;}
 a{color: #fff;text-decoration:none;}
 a:hover {color: #fff;  text-decoration: none;}
.clear{clear:both;}
.center{ text-align:center;}
.circle{background:#fff; width: 80px; height: 80px;   -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px;}

.radiolabel
    { @include rounded-corner; margin:3px 10px;
       padding:5px 10px;  height:30px;  background:#4D4D4D; color:#000; border:none; font-weight:bold;
    }
.right{float:right;}
.left{float:left;}
.hide{display:none;}
.show{display:block;}
strong{color:#F8F9F7;}
#contact_list{height:220px;overflow:auto;}
.recaptcha_theme_red #recaptcha_response_field {left:-4px;}
#facebox{

color:#000;
.shaded{color:#776B6B;}
h2{font-size:13px;color:#000;}
h1{font-size:2*$size;color:#000;}
        .button{@include rounded-corner;  margin:3px 10px;   padding:5px 20px;     background:#004E97;
            color:#fff;  border:none;  font-weight:bold;
            text-decoration:none;}
.fields
    {   
       label {
    
       width:35%;
       padding-top:4px; float:left;  color:#000; text-align:right; font-size:1.8*$size;}
      .textfield{
    
       width:200px; float:left;  @include rounded-corner; border:solid #4D4D4D 2px; padding:2px; background:#323232; color:#fff;  height:20px;}
      select{   width:200px; float:left;  @include rounded-corner; border:solid #4D4D4D 2px; padding:2px; background:#323232; color:#fff;  height:20px;
              option{ padding:2px;}
            }
    }

}
.age{font-size:2*$size;color:#fff;}
.green{ font-size:2*$size; color:#1AD327;
        a{ color:#1AD327;}
      }
.ajaxloadsmall{
float:right;
background:url("ajax-loader.gif")  no-repeat;
height:10px;
width:20px;
;
}
.fields
    {   label {padding-top:4px; float:left; width:200px; color:#fff; text-align:right; font-size:2*$size;}
      .textfield{ @include rounded-corner; border:solid #4D4D4D 2px; padding:2px; background:#323232; color:#fff;  margin:3px 0 0 20px;  height:20px;}
      select{  width:227px; @include rounded-corner; border:solid #4D4D4D 2px; background:#323232; color:#fff; 
              margin:3px 0 0 20px;  height:25px;
              option{ padding:2px;}
            }
    }
.error_messages{
margin:0 auto;
 width: 450px;  border: 2px solid #E84067; padding-bottom: 0; @include rounded-corner; 
  h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: 0px; background: #E84067; color: #000; }}
  ul { font-size: 12px; list-style: disc; margin:0; padding:10px;
      li { margin:2px 10px; color:#E84067;}
      }

 #pagebox{}
      #page {
          margin:0 auto; width:$page-width; border:solid #fff 2px; background: #000;
          #headercontainer{
          position: relative;    margin: 0 auto; 
          height:150px;
          #header 
              {
              z-index:999;
             width:$page-width;
              top:0px; position:fixed;
                 background: #262626;  
                 #homehead
                    { 
                   
                    text-align:center;
                      h2{ margin:0; margin-top: 35*$margin; font-size: 2em; padding:0;
                          a{color:#FFFFFF; text-decoration:none;}
                        }
                    }
                    
              }
            }
          #content {
          //position:relative;
            min-height:250px;
              background-color: #000000;
            .homecontent
              {
               margin:10px 0; 
               h2{  font-size:4*$size;  color:#1AD327; }
               h3{color:#1AD327;font-size:3*$size;font-weight:normal;
                a{color:#1AD327;text-decoration:none;}
               }
              .musicianinfo{ @include box(47%,250px,$box-color); float:left; text-align: right; padding:4*$padding;}
              .faninfo{ text-align:left; float:right;  @include box(47%,250px,$box-color);  padding:4*$padding; }
              .loginbox
                  { font-size:2*$size;  color:#1AD327;  text-align:center;   clear:both; margin-top:10px;
                    .loginfields{ @include rounded-corner;  background-color:#808080; padding:10px;  border:none;  color:#000;}
                    .login{ @include rounded-corner; padding:5*$padding 10*$padding ;  background-color: #1AD327; border:none; }
                  }
            } //homecontent end
          
         .homefeed
               {  
               margin:0 auto;
               color:#FFF;  padding:4*$padding 5*$padding;  background: #262626; text-align:center;
                  .feedbox
                    { text-align:center;  @include roundedbox(100px,40px,#3C3C3C);
                      margin:4*$margin auto; padding:2*$padding;display: inline-block;

                    }
                }// homefeed end
              
              .content-box{@include box(98%,"",$box-color); padding:10px 1%; }
              .blankbox{ @include box(98%,"",""); padding:10px 20px; color:#525252;}

             .userdashboard
              {   .profilepic{ @include box(33%,190px,#808080);float:left;}
                  .midbox{  @include box(32%,190px,"");
                            margin:0 34% 0 34%; 
                            .box1{ @include box(100%,90px,#808080);}
                            .box2{margin-top:10px; @include box(100%,90px,#808080);}
                          }
                  .rightbox{  float:right; @include box(33%,190px,#808080);}
              } //user dashboard end
          
            .midcontent
                {  margin-top:10px;
                  .left{ margin: 0 1%; float:left; width:68%;
                  
                    .usercontrols{
                    margin: 0 auto;
                    padding:10px 0;
                    width:95%;
                    .left{float:left;width:50%;
                    font-size:$size*2;
                    .icon{padding:5px; background:#204112; color:#718668;}
                    .iconactive{padding:5px; background:#408223;}
                    }
                    .right{float:right;
                     .inbox{
                     margin:-5px 0;
                     font-size:$size*2;background:#332909;a{color:#686149}
                     .inboxnum{float:right; margin-left:10px;  text-align:center;padding-top:5px;  font-size:14px;  @include box(25px,20px,#665111); @include rounded(12px);   
                                         a{ color:#fff; text-decoration:none;}
                     
                    }
                    
                    }
                     .inboxactive{ margin:-5px 0;font-size:$size*2;background:#665111;a{color:#fff}
                     .inboxnum{float:right; margin-left:10px;  text-align:center;padding-top:5px;  font-size:14px;  @include box(25px,20px,#332909); @include rounded(12px);   
                                         a{ color:#fff; text-decoration:none;}
                     
                    }
                     
                     
                    
                    }
                    }
                    }
                  
                    .statusinput{  
                    margin:0 auto;
                    width:95%;
                    background:#4D4D4D;
                                  .inputbox{ color:#fff; float:left;background:#202020; height:40px;width:90%; border:solid #4D4D4D 2px;}
                                  .postbtn{
                                  height:40px;
                                  width:8%;
                                  float:left;
                                  input{
                                  margin-top:10px;
                                  background:#4D4D4D;font-size:17px; border:none;font-weight:bold;}}
                                
                                 .inputerror{color:#2A0D17;  font-size:11px;}
                                }
                    .messageicon{margin:40px 0 0 -64px; background:#48260E; width:80px; float:left;
                       text-align:center;
                       font-weight:bold;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform: rotate(270deg);

filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
  
                        }
                        .dateicon{
                        margin:30px 0 20px -64px; background:#4D4D4D; width:80px; float:left;
                       text-align:center;
                       font-weight:bold;
                  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform: rotate(270deg);
  
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);

                        }
   
                    .msgbox{  
                    
                    width:95%;
                    margin:10px auto;
                  
                  .avatar{float:left; @include roundedbox(60px,50px,#808080);}
                  
                  
                        .msgstremitem{
                        
                        margin-left:70px;
                        padding:5px;
                        background:#48260E;
                        .itemcontent{width:80%; float:left}
                        .righticons{float:right;width:20%;text-align:right;}
                        }
                                         }
                    .newsitem{
                        
                        margin-left:70px;
                        padding:5px;
                        background:#4d4d4d;
                        .itemcontent{width:80%; float:left}
                        .righticons{float:right;width:20%;text-align:right;}
                    }
                    .readmore{
                    width:95%;
                    margin:20px auto;
                    text-align:right;
                    a{
                    
                    padding:5px; background:#4D4D4D; font-weignt:bold; text-decoration:none;}
                    }
                    
                    }
                  .rightbar{margin:0 1%; float:right; 
                  width:28%;
                  .righttopbox{@include box(100%,200px,#4d4d4d); margin:15px 0;}
                  .sendmsg{
                  @include box(90%,"",#37120B);
                 padding:5%;
                 font-size:$size*2;
                 }
                  }
                } // mid content end

       
        } // content end

      .registrationform
        {
        margin:0 auto;
              color:$input-bg-color;
             .fields{
                  label {  padding-top:4px;  float:left;  width:40%;  color:#fff;  text-align:right; font-size:2*$size; }
                 .textfield{   @include rounded-corner; border:solid #4D4D4D 2px; padding:2px; background:#323232; color:#fff;
                               margin:3px 10px;  height:20px;  width:350px;
                            }
                  .button{  @include rounded-corner; margin:3px 10px; padding:0 20px; height:30px;  background:#4D4D4D;
                            color:#000;     border:none;     font-weight:bold;
                          }
                  .actions{ padding-left:70%; }
               }
             .join
                  {  float:right;  margin:50px 190px 0 0;   @include rounded-corner;   width:120px;
                     height:35px;   background:#4D4D4D;    color:#000;    border:none;  font-weight:bold;
                  }
         }// registrationfrom end
         
     .button
        {   @include rounded-corner;  margin:3px 10px;   padding:0 20px;   height:30px;  background:#4D4D4D;
            color:#000;  border:none;  font-weight:bold;
            text-decoration:none;
        }
     
      #footer
      {   background:$box-color;
          margin-top:40px;  padding-top:10px;
          .socialicons
              {    .sitem
                    { 
                    position:relative;
                    font-size:2*$size;  font-weight:bold; text-align:center;  float:right;
                      margin:-35px 10px 5px 5px; @include rounded-corner; @include roundedbox(25px,25px,#fff); padding:5px;
                      a{text-decoration:none; color:#000; display:block; width:25px; height:30px;}
                    }
              }
         .footerlink
          {   float:left; text-align:center; width:24%;
              .circle{margin:auto; background:#939393;}
              p{ margin-top:20px; color:#939393;font-weight:bold;}
          }
     }// #footer end
 
     .profilehead
        { .logotext{background:#000;a{text-decoration:none;}}
          .mplayerbar
              {   .logo{ @include box(40px,40px,#515151);   @include rounded(20px);     margin:10px;    float:left;   text-align:center;
                          p{font-size:35px;margin:0;}
                        } 
                  .playerbox{ float:left; @include box(45%,55px,#464646);}
                  .headrightbox
                      {
                        font-weight:bold; float:right; @include box(48%,55px,#464646); 
                       .logout{ float:left; text-decoration:none; @include rounded-corner; margin:5px 20px 0 10px; padding:5px 10px;  background:#909090; color:#000; border:none; font-weight:bold;}
                       .icons
                           { margin-top:10px;
                            .name{float:left; margin:0 20px;} 
                            .numbericon{ float:left; margin-left:10px; text-align:center;  font-size:17px;  @include box(20px,20px,#FFCB2B); @include rounded(10px);   
                                         a{ color:#000; text-decoration:none;}
                                       }
                            .othericon1{ color:#C2C2C2; float:left; margin-left:10px; text-align:center;  font-size:17px;  @include box(20px,20px,"");
                                        @include rounded(10px);   
                                        a{ color:#C2C2C2; text-decoration:none;}
                                      }
                            .othericon{  color:#000;  float:left;  margin-left:10px; text-align:center;  font-size:17px;  @include box(20px,20px,#C2C2C2);
                                        @include rounded(10px);   
                                      a{ color:#000; text-decoration:none;}
                                      }
                            }
                    }  // headrightbox end  
              } // mplayer end
           .headmenubar
                { .menu{ width:59%; float:left;
                      ul{list-style:none; li{float:left; margin:5px; padding:5px; background:#515151; @include rounded-corner; a{color:#D1D1D1; text-decoration:none; font-weight:bold;font-size:16px;}}}
                    }
                  .searchbox{  
                  text-align:right;
                  margin:15px 1% 0 0; width:39%; float:right;
                              .searchinput{color:#D1D1D1;  font-weight:bold;font-size:16px; padding:5px; background:#515151; border:solid 2px #AEAEAE; @include rounded-corner;}
                              .search{ background:#909090;color:#000;  font-weight:bold;font-size:16px; padding:5px;border:solid 2px #AEAEAE; @include rounded-corner;}
                            }
               }// headmenubar end
        } //profile head end
        
        
   } // #page end
