//music player

@import 'compass/utilities/sprites/sprite-img';
@import 'compass/css3';
@import 'mixins';
@import 'vars';

//actions
.jp-rep {
	display: inline-block;
}

.jp-like {
	display: inline-block;	
}

//jogger
.jp-progress {
	margin: 0px;
	display: block;
	width: 230px;
	padding: 0;
	margin: 1px auto;
}

//playlist, like
.jp-additional {
	position: absolute;
	right: 5px;
	top: 6px;
}




div.jp-audio,
div.jp-video {
  /* Edit the font-size to counteract inherited font sizing.
	 * Eg. 1.25em = 1 / 0.8em
	 */
  color: #CCC;
  font-size: 1em; /* No parent CSS that can effect the size in these demos */
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:none;
}

div.jp-audio {
  width: 695px;
  overflow:hidden;
  float:left;
}

div.jp-video-270p {
  width: 480px;
}

div.jp-video-360p {
  width: 640px;
}

div.jp-interface {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#111111');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#444444, endColorstr=#111111)";
  border: 0;
  position: relative;
  width: 360px;
  float:left;
  padding-top:10px
}

div.jp-audio div.jp-type-single div.jp-interface {
  border-bottom: none;
}

div.jp-audio div.jp-type-playlist div.jp-interface {
  height: 80px;
}

div.jp-video div.jp-type-single div.jp-interface {
  border-bottom: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 60px;
}

div.jp-video div.jp-type-playlist div.jp-interface {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height:60px;
}

div.jp-interface ul.jp-controls{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.jp-interface{
  display: inline;
}

div.jp-interface ul.jp-controls a {
  overflow: hidden;
  position: absolute;
  text-indent:-9999px;
}
div.jp-volume-bar a{
  overflow: hidden;
  position: absolute;
  text-indent:-9999px;
}

a.jp-play,
a.jp-pause {	
  z-index: 1;
}

div.jp-audio div.jp-type-single a.jp-play,
div.jp-audio div.jp-type-single a.jp-pause {

}

div.jp-audio div.jp-type-playlist a.jp-play,
div.jp-audio div.jp-type-playlist a.jp-pause {
  left: 48px;
  top: 20px;
}

div.jp-video a.jp-play,
div.jp-video a.jp-pause {
  top: 15px;
}

div.jp-video-270p div.jp-type-single a.jp-play,
div.jp-video-270p div.jp-type-single a.jp-pause {
  left: 195px;
}

div.jp-video-270p div.jp-type-playlist a.jp-play,
div.jp-video-270p div.jp-type-playlist a.jp-pause {
  left: 200px;
}

div.jp-video-360p div.jp-type-single a.jp-play,
div.jp-video-360p div.jp-type-single a.jp-pause {
  left: 275px;
}

div.jp-video-360p div.jp-type-playlist a.jp-play,
div.jp-video-360p div.jp-type-playlist a.jp-pause {
  left: 300px;
}

a.jp-volume-max{background:url(sound.jpg) 0 0 no-repeat; padding:5px 15px; left:118px;width:1px;}
.vol_val, .vol_non{text-indent:-9999px; margin-left:3px; -webkit-border-radius:5px; background:#1ece3a; width:4px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; margin-top:4px; left:156px; float: left;}
.vol_non{background:#535353;}

div.jp-audio div.jp-type-single a.jp-stop {
  left: 90px;
  top: 26px;
}

div.jp-audio div.jp-type-playlist a.jp-stop {
  left: 125px;
  top: 26px;
}

div.jp-video a.jp-stop {
  top: 21px;
}

div.jp-video-270p div.jp-type-single a.jp-stop {
  left: 245px;
}

div.jp-video-270p div.jp-type-playlist a.jp-stop {
  left: 278px;
}

div.jp-video-360p div.jp-type-single a.jp-stop {
  left: 325px;
}

div.jp-video-360p div.jp-type-playlist a.jp-stop {
  left: 378px;
}

a.jp-stop {
  background: url(jplayer.dark.png) 0 -83px no-repeat;
  height: 28px;
  width: 28px;
  z-index: 1;
}

a.jp-stop:hover {
  background: url(jplayer.dark.png) -29px -83px no-repeat;
}

div.jp-audio div.jp-type-playlist a.jp-previous {
  left: 20px;
  top: 26px;
}

div.jp-video div.jp-type-playlist a.jp-previous {
  top: 21px;
}

div.jp-video-270p div.jp-type-playlist a.jp-previous {
  left: 172px;
}

div.jp-video-360p div.jp-type-playlist a.jp-previous {
  left: 272px;
}

a.jp-previous {
  background: url(jplayer.dark.png) 0 -112px no-repeat;
  height: 28px;
  width: 28px;
}

a.jp-previous:hover {
  background: url(jplayer.dark.png) -29px -112px no-repeat;
}

div.jp-audio div.jp-type-playlist a.jp-next {
  left: 88px;
  top:26px;
}

div.jp-video div.jp-type-playlist a.jp-next {
  top: 21px;
}

div.jp-video-270p div.jp-type-playlist a.jp-next {
  left: 240px;
}

div.jp-video-360p div.jp-type-playlist a.jp-next {
  left: 340px;
}


/*a.jp-next:hover {
	background: url(jplayer.dark.png) -29px -141px no-repeat;
}*/


.jp-finished, .jp-remained{background:#23b139; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; height:4px; width:150px; float:left}
.jp-controler{background:url(nav-controler.jpg) 0 0 no-repeat; position:absolute; height:8px; width:8px; left:145px; margin-top:-2px}
.jp-remained{background:#393939; width:145px}
div.jp-audio div.jp-type-playlist div.jp-progress {
  background: url(jplayer.dark.png) repeat-x scroll 0 -202px transparent;
  height: 15px;
  width: 122px;
}

div.jp-video div.jp-progress {
  left:0px;
  height: 10px;
  top:0px;
  width: 100%;
}

div.jp-seek-bar {
  background:#393939; -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;
  height:4px;
  width:145px;
  float:left  
}

div.jp-video div.jp-seek-bar {
  background-position: 0 -204px;
}

div.jp-play-bar {
  background:#23b139; -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;
  height:4px;
  width:150px;
  float:left
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
  background: url(jplayer.dark.pbar-ani.gif);
}

a.jp-mute,
a.jp-unmute {
  height: 15px;
  width: 18px;
}

div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
  left: 274px;
  top: 32px;
}

div.jp-audio div.jp-type-playlist a.jp-mute,
div.jp-audio div.jp-type-playlist a.jp-unmute {
  left: 296px;
  top: 32px;
}

div.jp-video a.jp-mute,
div.jp-video a.jp-unmute {
  top: 27px;
}

div.jp-video-270p div.jp-type-single a.jp-mute,
div.jp-video-270p div.jp-type-single a.jp-unmute {
  left: 304px;
}

div.jp-video-270p div.jp-type-playlist a.jp-unmute,
div.jp-video-270p div.jp-type-playlist a.jp-mute {
  left: 357px;
}

div.jp-video-360p div.jp-type-single a.jp-mute,
div.jp-video-360p div.jp-type-single a.jp-unmute {
  left: 384px;
}

div.jp-video-360p div.jp-type-playlist a.jp-mute,
div.jp-video-360p div.jp-type-playlist a.jp-unmute {
  left: 443px;
}

a.jp-mute {
  background: url(jplayer.dark.png) 0 -186px no-repeat;
}

a.jp-mute:hover {
  background: url(jplayer.dark.png) -19px -170px no-repeat;
}

a.jp-unmute {
  background: url(jplayer.dark.png) 0 -170px no-repeat;
  display: none;
}

a.jp-unmute:hover {
  background: url(jplayer.dark.png) -19px -186px no-repeat;
}

div.jp-video div.jp-volume-bar {
  top: 32px;
}

div.jp-video-270p div.jp-type-single div.jp-volume-bar {
  left: 332px;
}

div.jp-video-270p div.jp-type-playlist div.jp-volume-bar {
  left: 385px;
}

div.jp-video-360p div.jp-type-single div.jp-volume-bar {
  left: 412px;
}

div.jp-video-360p div.jp-type-playlist div.jp-volume-bar {
  left: 471px;
}

div.jp-current-time,
div.jp-duration {
  font-size: .64em;
  position: absolute;
  text-shadow: 0 1px 1px #444;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

div.jp-duration {
  text-align: right;
}

div.jp-audio div.jp-type-single div.jp-current-time,
div.jp-audio div.jp-type-single div.jp-duration {
  left: 130px;
  top: 49px;
  width: 122px;
}

div.jp-audio div.jp-type-playlist div.jp-current-time,
div.jp-audio div.jp-type-playlist div.jp-duration {
  left: 164px;
  top: 49px;
  width: 122px;
}

div.jp-video div.jp-current-time,
div.jp-video div.jp-duration {
  left: 0px;
  padding: 0 1%;
  top: 10px;
  width: 98%;
}


div.searchlist {
  position:absolute;
  z-index:1;
  display: none;
  width:213px;
  background: rgb(63,76,107); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(218,218,218) 0%, rgb(192,192,192) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(218,218,218)), color-stop(100%,rgb(192,192,192))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(218,218,218) 0%,rgb(192,192,192) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(63,76,107) 0%,rgb(59,80,102) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgb(63,76,107) 0%,rgb(59,80,102) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3b5066',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgb(63,76,107) 0%,rgb(59,80,102) 100%); /* W3C */
  left:690px;
  top:175px;
  padding:10px;
  min-height: 100px;
}

.pointer2{
  background:url(pointer.png) no-repeat;
  height:13px;
  width:21px;
  position:absolute;
  margin:-20px 0 0 1px;
}


a.play_list_close, a.play_list_next{background:url(close.png) no-repeat;
                                    position:absolute;
                                    padding:2px 8px!important;
                                    text-indent:-9999px;
                                    right:30px;
}
a.play_list_next{background:url(list_next.png) no-repeat;
                 right:11px;
}

div.jp-video div.jp-video-play {
  background: transparent url(jplayer.dark.video.play.png) no-repeat center;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

div.jp-video div.jp-video-play:hover {
  background: transparent url(jplayer.dark.video.play.hover.png) no-repeat center;
}

div.jp-video-270p div.jp-video-play {
  height: 270px;
  top: -270px;
  width: 480px;
}

div.jp-video-360p div.jp-video-play {
  height: 360px;
  top: -360px;
  width: 640px;
}

div.jp-jplayer {
  height: 0px;
  width: 0px;
}

div.jp-video div.jp-jplayer {
  z-index: 1;
}

div.jp-video-270p div.jp-jplayer {
  height: 270px;
  width: 480px;
}

div.jp-video-360p div.jp-jplayer {
  height: 360px;
  width: 640px;
}

div.jp-jplayer {
  background-color: #000;
}