//live wall elements

@import 'compass/css3';
@import 'vars';
@import 'mixins';

.live {
	background: black;
	width: $page-width - 12px;
	margin: 0 auto;
	display: block;
	min-height: 266px;
	position: relative;
	
	.profile-image { 
		position: absolute;
		left: -13px;
		top: 10px;
    width: 414px;
		height: 246px;
		background: #222;
    overflow: hidden;
    text-align: center;
    
    img {
      width: 414px;
      height: 246px;
    }
    
    a {
      @include border-radius($border-radius);
      padding: 0px 20px;
      background: #515151;
      color: #fff;
      border: none;
      font-weight: bold;
      text-decoration: none;
    }
  }
	
	.links {
		position: absolute;
		right: -13px;
		top: 10px;
		
		.top {
			display: block;
			width: 549px;
			height: 118px;
			background: $live-bg-color;
			
			.header {
				width: 100%;
				height: 30px;
				position: relative;
				background: rgba(white, .07);
				
				.name {
					float: left; 
					
					h2 {
						margin: 12px 0 0 12px;
						display: block;
					}
				}
				.actions {
					position: absolute;
					right: 20px;
					top: 20px;
					
					a {	@include inverted-button();	}
				}
			}
			
			.sub-head {
				clear: both;
				color: $text-slight-faded-color;
				margin: -2px 0 0 12px;
				display: block;
				
				h3 {					
					text-transform: uppercase;
				}
			}
			
			.description {
				margin: 9px 0 0 12px;
				color: $text-slight-faded-color;
			}
		}
		.top-default {
			background: url(live/live-default-top.jpg); 
		}
		
		.bottom {
			margin-top: 10px; 
			.left {
				width: 270px;
				height: 118px;
				float: left; 
			}
			.left-default {
				background: url(live/live-default-left.jpg); 
			}
			.right {
				float: right; 
				width: 270px;
				height: 118px;
			}
			.right-default {
				background: url(live/live-default-right.jpg); 
			}
		}
	}
}
