//live wall elements

@import 'compass/css3';
@import 'vars';
@import 'mixins';

.live {
	background: black;
	width: $page-width - 12px;
	margin: 0 auto;
	display: block;
	min-height: 266px;
	position: relative;
	
	.profile-image { 
		position: absolute;
		left: -14px;
		top: 10px;
    width: 414px;
		height: 246px;
		background: #222;
    overflow: hidden;
    text-align: center;
    
    img {
      width: 414px;
      height: 246px;
    }
  }
	
	.links {
		position: absolute;
		right: -14px;
		top: 10px;
		
		.top {
			display: block;
			width: 549px;
			height: 85px;
			background: $live-bg-color;
			
			.header {
				width: 100%;
				height: 30px;
				position: relative;
				background: rgba(white, .07);
				
				.name {
					float: left; 
					margin-left: 12px;
					
					h2 {
						margin: 12px 4px 0 0;
						display: inline-block;
					}
					.full-name {
						color: $text-highlight-color;
					}
				}
				.actions {
					position: absolute;
					right: 14px;
					top: 14px;
					
					a { 
						float: left; 
						margin-left: 7px; 
					}
					
					.text-action {
						@include inverted-button();
						position: relative;
						padding-left: 28px;
						
						i {
							position: absolute;
							left: 0px;
							margin: -4px 0px;
						}
						
						.icon-bg {	
							@include border-radius($detail-border-radius 0 0 $detail-border-radius);
							position: absolute;
							left: 0px;
							margin: -4px 0px;
							width: 24px;
							height: 24px;
							background: black;
							opacity: .45;
						}
					}
					.icon-action {
						width: 24px;
						height: 24px;
						display: block;
					}
				}
			}
			
			.sub-head {
				clear: both;
				color: $text-slight-faded-color;
				margin: -2px 0 0 12px;
				display: block;
				
				h3 {					
					text-transform: uppercase;
				}
			}
			
			.description {
				margin: 9px 0 0 12px;
				color: $text-slight-faded-color;
			}
		}
		.top-default {
			background: url(live/live-default-top.jpg); 
		}
		
		.bottom {
			margin-top: 10px; 
			
			.photo {
				width: 270px;
				height: 151px;
				overflow: hidden;
				
				img {width: 100%; }
			}
			
			.left {
				position: relative;
				width: 270px;
				height: 151px;
				float: left; 
			}
			.left-default {
				background: url(live/live-default-left.jpg); 
			}
			.right {
				position: relative;
				float: right; 
				width: 270px;
				height: 151px;
			}
			.right-default {
				background: url(live/live-default-right.jpg); 
			}
		}
	}
	
	//actions and headings
	.overlay {
		position: absolute;
		bottom: 0;
		height: 40px;
		width: 100%;
		background: rgba(black, .7);
		text-align: right;
		
		
		a {
			margin: -4px 0 0 20px;		
			display: inline-block;
			font-size: 12px;
			opacity: .9;
			color: $text-highlight-color;
			
			&:hover {	opacity: 1;	}
			&:last-child { margin-right: 20px; }
		}
		
		h2 {
			@include single-text-shadow(rgba(black, .4), 0px, 3px, 3px);	
			padding: 0px;
			margin: 0px;
			display: inline-block;
			color: white;
		}
	}
}
