//generic

@import 'vars';

//else
.clear { 
  clear:both !important; 
  margin:     0px !important; 
  padding:    0px !important;
  width:      0px !important;
  height:     0px !important;
}

.center{ text-align:center;}
.hide{display:none;}
.show{display:block;}
.greentext{ 
  font-size:2*$size; color:#1AD327;
  a{ color:#1AD327;}
}
.album, .album_photo {
  float:left;
  padding: 5px;
}
.album_teaser_image{}
.album_name {}
.follow-img img{padding:2px;}
.edit-info{padding:10px;}
.site-logo{float:left;}
.alerts{float:left;}
.alerts{right:20px; padding-bottom:5px; font-weight:bold; font-size:14px; width:245px;
       ul{ display:block;
	       li{

			   float:left;
			   text-align:center

			   }
			a{
			   background:url(alert.jpg)no-repeat center 3px;
			   padding:8px 11px;
		     }
			 h2{font-size:14px;
			  color:#767676;
			  margin-top:5px
			 }
	   }

}