//generic

@import 'compass/css3'; //compass css3 mixins
@import 'mixins'; //custom mixins
@import 'vars'; //global variables

//
//main overlay
#facebox {
	display: table;
	position: fixed;
	left: 0px;
	top: 0px;
	margin: 0px auto;
	overflow: hidden;
  text-align: left;
	color: #111;
	height: 100%;
	width: 100%;

	.center {
		overflow: hidden;
		margin: 0 20px;
		
		h1 { 
			display: block;
			float: left;
			color: #555;
			margin-right: 10px;
		}

		.loading-img {
			margin-top: 3px;
			display: block;
			float: right;
		}
	}

  .popup {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		padding: 5px;
		
		.content-container {
			@include border-radius($border-radius);
			@include box-shadow(rgba(black, .8), 0px, 5px, 30px);
			background: $overlay-bg-color;
	    display: table;
	    width: auto;
	    padding: 10px;
			position: relative;
	 		z-index: 2000;
			margin: 0px auto;

	    > p {
	      &:first-child {
	        margin-top: 0; 
			}
	      &:last-child {
	        margin-bottom: 0; 
				} 
			}
		}
		.close {
			display: block;
	    position: absolute;
			z-index: 2001;
			width: 24px;
			height: 24px;
	    top: -6px;
	    right: -8px;
	    opacity: 0.85; 
	
	    &:hover {
	      opacity: 1.0;
			}
		}
	}

  .buzz-window {
    height: 300px;
		width: 600px;
    overflow: auto; 

		.post {
			position: relative;
			margin-left: 15px; 
	    &:not(:last-child) { border-bottom: 1px dashed rgba(black, .25); }
			&:not(:first-of-type) { padding-top: 15px; }
			
			> div {
				@include generic-item(black);
			}
			
			.content {
				margin-left: 4px;
				float: left;
				width: 100%;

				//post title and actions
				.buzz-header {
					width: 100%;
					font-size: 13px;
					overflow: hidden;

					.title {
						float: left;
					}
					.actions {
						display: none;
						position: absolute;
						right: 4px;
					}
				}
				
				.body {
					margin-top: 2px;
					font-size: 11px;
				}
			}

	    .righticons {
				float: right;
				width: 20%;
				text-align: right;
	    }
			
		}
	}
	
  .loading, .image {
    text-align: center; 
	}
  
	img {
    border: 0;
    margin: 0;
    padding: 2px; 
	} 
	
  .shaded {color:#776B6B;}
  h2 {font-size:13px;color:#000;}
  h1 {font-size:2*$size;color:#000;}
  .fields {
    label {
      width:35%;
      padding-top:4px;
      float:left;
      color:#000;
      text-align:right;
      font-size:1.8*$size;
    }
    .textfield {
      width:200px;
      float:left;
      @include border-radius($border-radius);
      border:solid #4D4D4D 2px;
      padding:2px;
      background:#323232;
      color:#fff;
      height:20px;
    }
    select {
      width:200px;
      float:left;
      @include border-radius($border-radius);
      border:solid #4D4D4D 2px;
      padding:2px;
      background:#323232;
      color:#fff;
      height:20px;
      option{ padding:2px; }
    }
  }

	date {
    display: block;
    background: url(base-feed-date.png);
    position: absolute;
    margin: 39px 0 20px -45px;
    width: 76px;
    height: 28px;
    float: left;
    text-align: right;
    color: #555555;
    font-weight: bold;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
    &:first-of-type {
      margin-top: 28px; }
    > div {
      margin: 6px 4px 0 0; }
    h1, h2 {
      display: inline;
      font-family: Arial;
      text-transform: uppercase; }
    h1 {
      font-size: 15px;
      font-weight: bold; }
    h2 {
      font-size: 22px; } }
  .post {
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1); 
	}
	
	//content
	.header {
		@include border-radius($border-radius $border-radius 0 0);
		@include single-text-shadow(rgba(white, .5), 0px, 1px, 0px);
		background: $overlay-header-color;
		color: $text-on-light;
		margin: -10px -10px 5px -10px;
		padding: 5px;
		text-align: center;
	}
	
	.error { 
		color: $text-error-color;
		text-align: center;
		text-transform: lowercase;
		width: 100%;
		top: 100%;
		margin-top: 6px !important;
		left: 0px;
		position: absolute;
	  li { margin-top: 3px; display: block; }
	}

	.normal-content {
		padding: 10px 0;
		width: 500px;

		div { 
			padding: 0px; 
			margin: 0 0 10px 0;	
		}
		
		h2 { margin: 0px; padding: 0px; text-align: center; }
		textarea { 
			@include overlay-form-input-box; 
			width: 473px;
			height: 100px;
		}
		.generic-button {
			@include overlay-button;
			position: absolute;
			bottom: -8px;
			right: 16px;
			padding: 4px 10px;
		}
		
		#uploaded {
			color: $text-faded-on-light;
			margin-top: 20px;
		}
		
		//form
		form {
			margin-bottom: 10px; 
			
			.field {
				margin-bottom: 3px; 

				label {
					display: inline-block;
					margin-right: 5px;
					width: 70px;
					text-align: right;
					text-transform: lowercase;
				}
				input {
					width: 255px;
				}
			}
			
			//field with errors reset margins
			.field_with_errors {margin: 0px; }
		}
		
		//set flash browse position
		object {
			position: relative;
			top: 9px;
		}
	}
	
	.mini-content {	width: 344px; }
	.mega-content { width: 600px; }
	
	.centered {
		text-align: center;
	}
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }
.facebox_hide {
  z-index: -100; }
.facebox_overlayBG {
	background: black;
	//@include radial-gradient(rgba(black, 1), rgba(black, .5), 130em);
  z-index: 1999; }
.age {font-size:2*$size;color:#fff;}