//popout (autocomplete, playlist, etc)

@import 'mixins';
@import 'vars';

//popout pointer
.pointer {
  background: url(pointer.png) no-repeat;
  height: 13px;
  width: 21px;
  position: absolute;
  margin: -22px 0 0 155px;
}


//autocomplete
.ui-autocomplete {
	@include popout();
	padding: 0px;
	
	.pointer {
		margin: -12px 0 0 46%;
	}
}

//search autocomplete
.search-autocomplete {
	top: 106px !important;
}

//playlist
.jp-playlist {
  @include popout();
  position:absolute;
  z-index:1;
  width:313px;
  display:none;
  left:418px;
  top:54px;
  padding:10px;

	li {
	  padding: 3px 0;
		margin: 0px;
		
		&:last-child {
			border: none;
		}
	}
	.current {
	  background: rgba(black, .45);
		color: white;
		margin: 0px -10px;
		padding-left: 16px !important;
		border-bottom: none;			
		
		a {
			@include single-text-shadow(rgba(black, .75), 0px, -1px, 0px);
			color: #e3e3e3 !important;		
		}
		.play_list_close, .play_list_next { display: none; }
	}
}

//impersonation switch
.switch-popout {
	@include popout();
	position: absolute;
	right: -5px;
	top: 35px;
	display: none;
	text-align: left;
	width: 200px;
	z-index: 150;
	
	.pointer {
		margin: -12px 0 0 45%;
	}
	
	li { 
		&:hover { background: rgba(black, .15); }
	}
}

//tag input
.token-input-dropdown-facebook {
	@include popout();
  position: absolute;
  display: none;
  z-index: 1;
  width: 200px;
  margin-top: 5px; }


ul.token-input-list-facebook {
  //@include popout();
  display: inline-block;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  width: 200px;
  min-height: 1px;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style-type: none;
  li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background: none repeat scroll 0 0 #323232;
    margin: 2px 0;
    -webkit-appearance: caret; } }

li {
  &.token-input-token-facebook {
    overflow: hidden;
    height: auto !important;
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    color: #000;
    cursor: default;
    font-size: 11px;
    float: left;
    white-space: nowrap;
    p {
      display: inline;
      padding: 0;
      margin: 0; }
    span {
      color: #a6b3cf;
      margin-left: 5px;
      font-weight: bold;
      cursor: pointer; } }
  &.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff; }
  &.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none; } }

//mentions autocomplete
.mentions-autocomplete-list {
	@include popout();
	position: absolute;
	width: 200px;
	left: 220px;
	z-index: 1000;
}








.searchlist li {
  margin: 2px 0 2px 0;
  text-shadow: none;
  border-bottom: dotted 1px #979797;
  padding-bottom: 5px!important;
  width: 100%;
  list-style: none;
  text-decoration: none;
  text-align: left;
  a {
    font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #979797;
    padding: 0 4px; } }

div.token-input-dropdown-facebook {
  p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777; }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 2px 0 2px 0;
      text-shadow: none;
      border-bottom: dotted 1px #979797;
      padding-bottom: 5px!important;
      width: 100%;
      list-style: none;
      text-decoration: none;
      text-align: left;
      font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
      color: #979797;
      padding: 0 4px;
      &.token-input-dropdown-item-facebook, &.token-input-dropdown-item2-facebook {}
      em {
        font-weight: bold;
        font-style: normal; }
      &.token-input-selected-dropdown-item-facebook {
        color: #3b5998; } } } }