//splash/login page

@import 'compass/utilities/sprites/sprite-img';
@import 'compass/css3';
@import 'mixins';
@import 'vars';

.splash-body {
	@include radial-gradient($main-bg-color, darken($main-bg-color, 40), 150em);
	position: absolute;
	height: 100%;
	width: 100%;
}

//
//main splash
.splash {
	width: 800px;
	height: 550px;
	position: absolute;
	top: 50%;
	left: 50%;
	
	> div {
		position: absolute;
		top: -50%;
		left: -50%;
		
		@include border-radius($border-radius);
	  @include box-shadow(rgba(black, .5), 0px, 2px, 10px, 0px);
		background: $page-bg-color;	
		width: 800px;
		height: 550px;
	}
	
	.main-login {
		height: 50%;
		background: url(base-page-bg-shaded-flipped.jpg) center 30px no-repeat;
	}
	
	.beta-note {
		width: 100%;
		position: absolute;
		top: 50%;
		height: 50%;
		margin: auto;
		text-align: center;
		
		> div {
			margin-top: 88px;
		}
	}
}

//
//login
.login {
	float: right; 
	margin: 10px 10px 0 0;
	width: 530px; 
	
	div, h3 {
		float: left;
	}
	
	h3 {
		margin: 10px 10px 0 0;
	}
	
	.exec-login {
		border: none;
		cursor: pointer;
		padding: 0px;
		float: left;
		@include sprite-img("sprites-32.png", 1);
	}
	
	#password-reset {
		margin-left: 315px;
		font-size: $font-size-minor;
		color: $text-faded-color;
	}
}

//
//registration
.registration {
	padding-top: 10px;
	
	.left {
		width: 50%;
		float: left;
		
		> div {
			margin-left: 20px;
		}
		
		input {
			float: none; 
			width: 208px;
		}
		label {
			width: 150px;
			text-align: right;
			display: inline-block;
			margin-right: 10px;
		}
		
		.info {
			font-size: 10px;
			width: 365px;
			margin-top: 18px;
			text-align: right;
		}
		.field {
			display: block;
		}
	}
	
	.right {
		width: 50%;
		background: url(signup-explanation.png) left 5px no-repeat;
		height: 365px;
		float: right;
	}
	
	.join {
		@include inverted-button;
		width: 100px !important;
		height: 24px;
		float: right !important;
	}
}

//
//fields
.login .field, .registration input  {
	background: none;
	border: none;
	border-bottom: 1px solid $line-color;
	color: $text-color;
	font-size: $input-font-size;
	outline: none;
	width: 175px;
	height: 20px;
	margin: 5px 5px 0 0;		
	
	&:focus {
		background: $input-bg-active-color;
	}
}
.login .field {
	float: left;
}

//
//error
.login-error {
	color: rgba($error-color, .9);
	position: absolute;
	top: 21px;
	right: 550px;
}

//
//logo
.logo { 
  text-align:center;
	width: 100%;

	img {
		margin-top: 30px;
		margin-left: 10px;
	}

  h2 { 
		margin: 15px 0 30px 0;
  }
}