/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  width: 400px;
  border: 1px solid #8496ba;
  cursor: text;
  font-size: 12px;
  font-family: Verdana;
  min-height: 1px;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -moz-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #323232;
}

ul.token-input-list-facebook li input {
  border: 0;
  width: 100px;
  padding: 3px 8px;
  background: none repeat scroll 0 0 #323232;
  margin: 2px 0;
  -webkit-appearance: caret;
}

li.token-input-token-facebook {
  overflow: hidden;
  height: auto !important;
  height: 15px;
  margin: 3px;
  padding: 1px 3px;
  background-color: #eff2f7;
  color: #000;
  cursor: default;
  border: 1px solid #ccd5e4;
  font-size: 11px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  white-space: nowrap;
}

li.token-input-token-facebook p {
  display: inline;
  padding: 0;
  margin: 0;
}

li.token-input-token-facebook span {
  color: #a6b3cf;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}

li.token-input-selected-token-facebook {
  background-color: #5670a6;
  border: 1px solid #3b5998;
  color: #fff;
}

li.token-input-input-token-facebook {
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.token-input-dropdown-facebook {
  position:absolute;
  display: none;
  z-index:1;  
  width:313px;
  background: rgb(63,76,107); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(218,218,218) 0%, rgb(192,192,192) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(218,218,218)), color-stop(100%,rgb(192,192,192))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(218,218,218) 0%,rgb(192,192,192) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(63,76,107) 0%,rgb(59,80,102) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgb(63,76,107) 0%,rgb(59,80,102) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3b5066',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgb(63,76,107) 0%,rgb(59,80,102) 100%); /* W3C */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius:10px;
  border-radius: 10px;    
  padding:10px;  
  margin-top: 5px;
}

.searchlist ul li{
  margin:2px 0 2px 0;
  text-shadow:none;
  border-bottom:dotted 1px #979797;
  padding-bottom:5px!important;
  width: 100%;
  list-style: none;
  text-decoration: none;
  text-align: left;
}
.searchlist ul li a{
  font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:#979797;
  padding:0 4px;
}

div.token-input-dropdown-facebook p {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  color: #777;
}

div.token-input-dropdown-facebook ul {
  margin: 0;
  padding: 0;
}

div.token-input-dropdown-facebook ul li {
  margin:2px 0 2px 0;
  text-shadow:none;
  border-bottom:dotted 1px #979797;
  padding-bottom:5px!important;
  width: 100%;
  list-style: none;
  text-decoration: none;
  text-align: left;
  font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:#979797;
  padding:0 4px;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {  
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {  
}

div.token-input-dropdown-facebook ul li em {
  font-weight: bold;
  font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
  color: #3b5998;  
}