//tutorial
//contains all of the tutorial elements

@import 'mixins'; //custom mixins
@import 'vars'; //global variables

.tutorial {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 10000;

	.dimmer {
		background: (rgba(black, .6));
		width: 100%;
		height: 100%;
		
		> div { z-index: 10002; }
	}
	
	> div { display: block; z-index: 10001; position: relative; }
	
	
	.controls {
		position: fixed;
		bottom: 0px;
		right: 0px;
		background: url(tutorial/button-bg.png);
		width: 595px;
		height: 306px;
		
		.next {
			@include base-highlight-button;
			width: 150px;
			text-align: center;
			height: 32px;
			cursor: pointer;
			position: absolute;
			right: 80px;
			bottom: 60px;
			z-index: 10100;
			
			
			h2 { margin-top: 5px; }
		}
	}
	
	//fan tutorials
	.items {
		left: 50%;
		top: 0px;
		position: fixed;
		
		> div {
			position: relative;
			display: none;
		}
		
		.fan-01 {
			display: block;
			position: fixed;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			margin: auto;
			background: url(tutorial/fan-01welcome.png) no-repeat center;
		}
		.fan-02 {
			width: 411px;
			height: 245px;
			left: -340px;
			top: 320px;
			background: url(tutorial/fan-02marquee.png);
		}
		.fan-03 {
			width: 454px;
			height: 253px;
			left: -370px;
			top: 156px;
			background: url(tutorial/fan-03content.png);
		}
		.fan-04 {
			width: 451px;
			height: 320px;
			left: -200px;
			top: 155px;
			background: url(tutorial/fan-04sidebar.png);
		}
		.fan-05 {
			width: 451px;
			height: 251px;
			left: -416px;
			top: 53px;
			background: url(tutorial/fan-05player.png);
		}
	}
}