var newPlayList = [#{list_of_play_items(@songs)}];
:plain
  if(newPlayList.length>0){
  var current_length = playList.length;
  if(newPlayList.length>0)
    addItemsToPlayList(newPlayList);
  playListChange(current_length,1);
  }
closeFacebox(1000);