= render :partial=>"/venue/live"
.primary-container
  .primary
    .left
      = render '/venue/edit_form', :action_url => update_venue_path(@venue.id)
    .right
      = render "/venue/right", :current =>'manage_profile'