= render :partial=>"/venue/live"
.primary-container
  .primary
    .left
      .show-list 
        - @artist_show_list.each do |artist_show|
          = render '/artist_show/show', :artist_show => artist_show
    .right
      = render "/venue/right", :current =>'show'