.blankbox
  %h3 find friends
  wanna follow people you know? do it here
.homefeed.center
  .feedbox
    %h3 facebook
    .fields
      %input#email.textfield{:name => "email", :type => "text", :value => "username"}/
      %input#email.textfield{:name => "email", :type => "text", :value => "password"}/
  .feedbox
    %h3 twitter
    .fields
      %input#email.textfield{:name => "email", :type => "text", :value => "username"}/
      %input#email.textfield{:name => "email", :type => "text", :value => "password"}/
  .feedbox
    %h3 Gmail
    .fields
      %input#email.textfield{:name => "email", :type => "text", :value => "username"}/
      %input#email.textfield{:name => "email", :type => "text", :value => "password"}/
  .clear
  %input.button{:name => "submit", :type => "submit", :value => "Search"}/
  .clear
