$('.left').html('');
<% edit_profile_forms = capture do %>
  <div id='basic-info' class='content-box'>
    <h3>Basic Info</h3>
    <hr />
    <div id="basic-info-msg"></div>
    <%= render :partial => 'basic_info_form' %>
  </div>
  <div id='additional-info' class='content-box'>
    <h3>Additional Info</h3>
    <hr />
    <div id="additional-info-msg"></div>
    <%= render :partial => 'edit_additional_info_form' %>
  </div>
  <div id="change-password" class='content-box'> 
    <h3>Change Password</h3>
    <hr />
    <div id="change-password-msg"></div>
    <%= render :partial => 'change_password_form' %>
  </div>  
<% end %>

$('.left').html('<%= escape_javascript(edit_profile_forms) %>');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.selection-box').removeClass('active').removeClass('button-fill-fan');
$('#edit-profile').addClass('active').addClass('button-fill-fan');