$('.midcontent > .left > .leftcontainer').html('');
<% payment_info_form = capture do %>
  <div id='payment-info' class='content-box'>
     <div id="payment-info-msg"></div>
    <%= render :partial => 'payment_info_form' %>
  </div>  
<% end %>

$('.midcontent > .left > .leftcontainer').html('<%= escape_javascript(payment_info_form) %>');
setTimeout('$(document).trigger(\"close.facebox\")',10);

