!= "$('.midcontent > .left > .leftcontainer').html('');"
!= "$('.midcontent > .left > .leftcontainer').html('#{escape_javascript(render 'user_post_public')}');"
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('div').removeClass('active');
$('#user-post .band-box-header').addClass('active');