= render :partial=>"bricks/user_header_bar"
= render :partial=>"user_dash_board"
.primary
  .left
    .left
      = render 'user_post_public'           
  .right
    = render 'profile/user_right_bar_public'
  .clear
