#footer
  .socialicons
    %a{:href => "#"}
      = image_tag 'twitter.png' 
    %a{:href => "#"}
      = image_tag 'fb.png'
    .clear
  .footerlink
    = image_tag 'footer-img.png', :width => '100%'