#footer
  .socialicons
    .sitem
      %a{:href => "#"} t
    .sitem
      %a{:href => "#"} Fb
    .clear
  .footerlink
    %a{:href => "#"}
    .circle &nbsp;
    %p Sitemap
  .footerlink
    %a{:href => "#"}
    .circle &nbsp;
    %p Sitemap
  .footerlink
    %a{:href => "#"}
    .circle &nbsp;
    %p Sitemap
  .footerlink
    %a{:href => "#"}
    .circle &nbsp;
    %p Sitemap
  .clear
