#footer
  .socialicons
    %a{:href => "#"}
      = image_tag 'twitter.png' 
    %a{:href => "#"}
      = image_tag 'fb.png'
    .clear
  .footerlink
    %a{:href => "#"}
    .circle &nbsp;
    %p Sitemap
  .footerlink
    %a{:href => "#"}
    .circle &nbsp;
    %p Sitemap
  .footerlink
    %a{:href => "#"}
    .circle &nbsp;
    %p Sitemap
  .footerlink
    %a{:href => "#"}
    .circle &nbsp;
    %p Sitemap
  .clear
