- content_for :tophead do
  .profilehead
    %h2.logotext
      %a{:href => "/"} SoundMelon
    .mplayerbar
      .logo
        %p S
      .playerbox
      .headrightbox
        = link_to "Logout" ,logout_path, :class=>"logout"
        .icons
          %span.name
            = link_to "#{current_user.fname} #{current_user.lname}" ,user_home_path
          .numbericon
            %a{:href => "#"} 3
          .numbericon
            %a{:href => "#"} 8
          .othericon1
            %a{:href => "#"} 19
          .othericon1
            %a{:href => "#"} &euro;
          .othericon
            %a{:href => "#"} +
          .clear
      .clear
    .headmenubar
      .menu
        %ul
          %li
            %a{:href => "#"} Social
          %li
            %a{:href => "#"} Store
          %li
            %a{:href => "#"} Social
        .clear
      .searchbox
        =form_tag( {:controller =>'search', :action => 'index'}, :method => "get") do
          %input.searchinput{:name => "q", :type => "text", :value => "Search"}/
          %input.search{:name => "search", :type => "submit", :value => "Go"}/
      .clear