.items
  %ul
    %li
      %a{:href => "javascript:void(0)"} Edit Basic info
    %li
      %a{:href => "javascript:void(0)"} Edit Basic info
    %li
      %a{:href => "javascript:void(0)"} Edit Basic info
    %li
      %a.selected{:href => "javascript:void(0)"} Edit Basic info
