<div class="rightmenu">
	<ul>
    	<li>
    		<a href="javascript:void(0)">Edit Basic info</a>
    	</li>
    	<li>
    		<a href="javascript:void(0)">Edit Basic info</a>
    	</li>
    	<li>
    		<a href="javascript:void(0)">Edit Basic info</a>
    	</li>
    	<li>
    		<a href="javascript:void(0)" class="selected">Edit Basic info</a>
    	</li> 
    </ul>
</div>
	